@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&family=Zen+Antique+Soft&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap');
body {
  font-family: 'Latin Modern Sans';
  text-rendering: optimizeLegibility;
  line-height: 2em;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
/*********************** Text **********************************************************/
h1 {
  font-family: 'Zen Antique Soft', serif;
  font-weight: 800;
}
h2, h3, h4 {
  font-family: 'Zen Old Mincho', serif;
  font-weight: 900;
}
h1, h3, h4 {
  margin-bottom: 0px;
}
h1 {
  margin-top: 0px;
}
h2 {
  line-height: 1em;
  margin-bottom: 10px;
}
p, ol, ul {
  font-family: 'Latin Modern Sans';
  line-height: 1.5em;
}
p.top {
  margin-top: 5px;
}
sup {
  line-height: 0;
  font-size: .7em;
}
.MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
    overflow-x: auto;
    overflow-y: hidden;
}
.article_tag {
  font-size: 90%;
  margin-left: 20px;
}
/*********************** User Inputs **********************************************************/
select {
  border-radius: 2.5px;
}
button, input {
  font-family: "Computer Modern Sans";
}
button{
  font-size: 90%;
  width: 100%;
  border: none;
  border-top: solid;
  border-width: 1.5px;
  border-color: #adadad;
  cursor: pointer;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dropdown {
  display: inline-block;
}
.center_floating_button {
  margin-top: 10px;
  float: right;
}
/*********************** Tables & Video **********************************************************/
table {
  display: inline-table;
}
table, th, td {
  text-align: left;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding-left: 3px;
}
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*********************** Transition Setting **********************************************************/
body, select, .programs_container, #page_color_toggler, .center_explanation_box, a.sidebar_links, .other_pages a {
  transition: background-color 1s ease, color 1s ease;
}
.center_explanation_box {
  transition: background-color 1s ease !important; /* For some reason, .center_explanation_box requires the !important tag */
}
/** Some elements need fast transition by default **/
.social_icon {
  transition: fill .15s ease-out;
}
button, input[type=submit].animation_button, input[type=submit].end_animation {
  transition: background-color .1s ease;
}
#logo-span1, #logo-span2 {
  transition: fill 1s ease-out;
}
/*********************** Universal Colors *****************************************************************/
#page_color_toggler {background-color: grey;}
.twitter-blue {fill: #1D9BF0;}
.facebook-blue {fill: #1778F2;}
.reddit-orange {fill: #FF5700;}
.substack-orange {fill: #ff6700;}
/*********************** Light Mode **********************************************************************/
/********** Toggler ***********************/
.light-mode #page_color_toggler {
  left: 0;
}
/********** Page Fundamentals *************/
.light-mode {
  background-color: white;
  color: black;
}
.light-mode a:link {
  color: #0000EE;
}
.light-mode a:visited {
  color: #551A8B;
}
.light-mode button, .light-mode select {
  background-color: white;
  color: black;
}
/********** Page Top ***************/
.light-mode #logo-span1, .light-mode #logo-span2 {
  fill: black;
}
/********** Highlights *************/
.light-mode .highlights_content button:hover {
  background-color: #f0efed;
}
/********** Left Sidebar ***********/
.light-mode a.sidebar_links, .light-mode .other_pages a {
  color: black;
}
.light-mode .programs_container {
  background-color: white;
  color: black;
}
/********** Chart Module **********/
.light-mode .center_explanation_box {
  background-color: #f5f3f2;
}
/********** Charts *****************/
.light-mode .c3 text {
  fill: black;
}
.light-mode .c3-grid line, .light-mode .c3-axis-x line, .light-mode .c3-axis-y line, .light-mode .c3-axis-x path, .light-mode .c3-axis-y path {
  stroke: black;
}
/********** Page Bottom ***********/
.light-mode .page_bottom {
  color: #858585;
  border-color: #bdbdbd;
}
/********** Social icon colors ****/
.light-mode .social-base-color {fill: #000000;}
.light-mode .social-page-bottom-base-color {fill: #858585;}
/* social media circle icons */
.light-mode path.st1 {fill:#FFFFFF;}
.light-mode circle.cc-circle {fill: #ffffff;}
/********** Animation Buttons *****/
.light-mode input[type=submit].animation_button, .light-mode input[type=submit].end_animation {
  background-color: #f5f3f2;
  border: solid;
  border-color: #adadad;
}
/* Lighter color on hover */
.light-mode input[type=submit].animation_button:hover, .light-mode input[type=submit].end_animation:hover {
  background-color: #d1d1d1;
}
/* Lighter colors for when it is disabled */
.light-mode input[type=submit].animation_button:disabled, .light-mode input[type=submit].end_animation:disabled {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/* No color change on hover when disabled */
.light-mode input[type=submit].animation_button:disabled:hover, .light-mode input[type=submit].end_animation:disabled:hover {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/*********************** Sepia Mode *****************************************************************/
/********** Toggler ***********************/
.sepia #page_color_toggler {
  left: 49px;
}
/********** Page Fundamentals *************/
.sepia {
  background-color: #fff5e6;
  color: black;
}
.sepia a:link {
  color: #0000EE;
}
.sepia a:visited {
  color: #551A8B;
}
.sepia button, .sepia select {
  background-color: #fff5e6;
  color: black;
}
/********** Page Top ***************/
.sepia #logo-span1, .sepia #logo-span2 {
  fill: black;
}
/********** Highlights *************/
.sepia .highlights_content button:hover {
  background-color: #f0efed;
}
/********** Left Sidebar ***********/
.sepia a.sidebar_links, .sepia .other_pages a {
  color: black;
}
.sepia .programs_container {
  background-color: #fff5e6;
  color: black;
}
/********** Chart Module **********/
.sepia .center_explanation_box {
  background-color: #f7f0e6;
}
/********** Charts *****************/
.sepia .c3 text {
  fill: black;
}
.sepia .c3-grid line, .sepia .c3-axis-x line, .sepia .c3-axis-y line, .sepia .c3-axis-x path, .sepia .c3-axis-y path {
  stroke: black;
}
/********** Page Bottom ***********/
.sepia .page_bottom {
  color: #858585;
  border-color: #bdbdbd;
}
/********** Social icon colors ****/
.sepia .social-base-color {fill: #000000;}
.sepia .social-page-bottom-base-color {fill: #858585;}
/* social media circle icons */
.sepia path.st1 {fill:#fff5e6;}
.sepia circle.cc-circle {fill: #fff5e6;}
/********** Animation Buttons *****/
.sepia input[type=submit].animation_button, .sepia input[type=submit].end_animation {
  background-color: #f5f3f2;
  border: solid;
  border-color: #adadad;
}
/* Lighter color on hover */
.sepia input[type=submit].animation_button:hover, .sepia input[type=submit].end_animation:hover {
  background-color: #d1d1d1;
}
/* Lighter colors for when it is disabled */
.sepia input[type=submit].animation_button:disabled, .sepia input[type=submit].end_animation:disabled {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/* No color change on hover when disabled */
.sepia input[type=submit].animation_button:disabled:hover, .sepia input[type=submit].end_animation:disabled:hover {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/*********************** Dark Mode *****************************************************************/
/********** Toggler ***********************/
.dark-mode #page_color_toggler {
  left: 100px;
}
/********** Page Fundamentals *************/
.dark-mode {
  background-color: #242424;
  color: #dbdbdb;
}
.dark-mode a:link {
  color: #86acf0;
}
.dark-mode a:visited {
  color: #bd86f1;
}
.dark-mode button, .dark-mode select {
  background-color: #242424;
  color: #dbdbdb;
}
/********** Page Top *****************/
.dark-mode #logo-span1, .dark-mode #logo-span2 {
  fill: #dbdbdb;
}
/********** Highlights ***************/
.dark-mode .highlights_content button:hover {
  background-color: #474747;
}
/********** Left Sidebar *************/
.dark-mode a.sidebar_links, .dark-mode .other_pages a, .dark-mode .page_bottom {
  color: #dbdbdb;
}
.dark-mode .programs_container {
  background-color: #242424;
  color: #dbdbdb;
}
/********** Chart Module *************/
.dark-mode .center_explanation_box {
  background-color: #141414;
}
/********** Charts ******************/
.dark-mode .c3 text {
  fill: #dbdbdb;
}
.dark-mode .c3-grid line, .dark-mode .c3-axis-x line, .dark-mode .c3-axis-y line, .dark-mode .c3-axis-x path, .dark-mode .c3-axis-y path {
  stroke: #dbdbdb;
}
/********** Page Bottom *************/
.dark-mode .page_bottom {
  color: #dbdbdb;
  border-color: #dbdbdb;
}
/********** Social Icons ************/
.dark-mode .social-base-color {fill: #dbdbdb;}
.dark-mode .social-page-bottom-base-color {fill: #dbdbdb;}
/* social media circle icons */
path.st1 {fill: #242424;}
circle.cc-circle {fill: #242424;}
/********** Animation Buttons *********/
.dark-mode input[type=submit].animation_button, .dark-mode input[type=submit].end_animation {
  background-color: #141414;
  border-color: #dbdbdb;
  color: #dbdbdb;
}
/* Lighter color on hover */
.dark-mode input[type=submit].animation_button:hover, .dark-mode input[type=submit].end_animation:hover {
  background-color: #474747;
}
/* Lighter colors for when it is disabled */
.dark-mode input[type=submit].animation_button:disabled, .dark-mode input[type=submit].end_animation:disabled {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/* No color change on hover when disabled */
.dark-mode input[type=submit].animation_button:disabled:hover, .dark-mode input[type=submit].end_animation:disabled:hover {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/*********************** Page Positioning **********************************************************/
.top {
}
.left_side{
  display: inline-block;
  vertical-align: top;
  width: 18%;
  padding-right: 2.5%;
  height: 0px; /* prevents elements below from being pushed down the page when the programs dropdown is expanded */
}
.center{
  display: inline-block;
  vertical-align: top;
  width: 56.8%;
  margin-right: 0px;
}
.center_no_side_elements {
  width: 56.8%;
  margin-left: 20.8%;
}
.right_side{
  display: inline-block;
  vertical-align: top;
  width: 21.5%;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
  height: 0px; /* prevents elements below from being pushed down the page when the programs dropdown is expanded */
}
section.page_bottom {
  position: relative;
  border-top: solid;
  font-size: 80%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 75px;
  padding-bottom: 40px;
  line-height: 1.5em;
}
/*********************** Desktop: hide mobile elements **********************************************************/
.mobile_navbar, .mobile_dropdown {
  display: none;
}
#mobile_highlights {
  display: none;
}
#blog_promote_horizontal_link, #blog_promote_mobile_link {
  display: none;
}
/***********************Top elements********************************************************************/
.logo {
  width: 200px;
  position: absolute;
  margin-left: 30px;
  margin-top: 25px;
}
svg.logo-svg {
  width: 125px;
  height: 37.5px;
}
.left_side_absolute {
  position: absolute;
  top: 25px;
  left: 78.5%;
  width: 21.5%;
}
.page_color_button_group {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  border: solid;
  border-color: #dbdbdb;
  border-radius: 30px;
  border-width: 1.5px;
  width: 150px;
}
.page_color_button_group button {
  border: none;
  width: 33.33%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  color: #bdbdbd !important;
}
.page_color_button_group:after {
  content: "";
  clear: both;
  display: table;
}
#page_color_toggler {
  position: absolute;
  height: 100%;
  width: 50px;
  border-radius: 30px;
  opacity: 20%;
  transition: left .2s ease;
}
/***********************Title********************************************************************/
.title_container {
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}
.category {
  display: none;
}
#page_title {
  margin-bottom: 4px;
}
.name {
  font-family: 'Zen Antique Soft', serif;
  line-height: 2em;
  font-size: 100%;
  margin-bottom: 5px;
  margin-top: 8px;
  text-decoration: none;
}
a.my_socials {
  margin-left: 3px;
}
.top_social_icons {
  height: 12.5px;
}
#twitter_blue, #substack_orange {
  display: none;
}
.page_description {
  font-family: "Computer Modern Classical Serif Italic";
  line-height: 1.5em;
}
/***********************Blog promotion ********************************************************************/
img.blog_promotion {
  position: absolute;
  width: 16%;
  right: 35px;
  margin-top: 119vh;
}
/*****************Left side bar*************************************/
.left_side_bar {
  position: absolute;
  margin-left: 30px;
  margin-top: 118vh;
}
.left_side_bar_title_text {
  font-family: 'Zen Old Mincho', serif;
  font-weight: 900;
  font-size: 14px;
}
.left_side_bar_horizontal_line {
  border-top: solid;
  height: 0px;
}
ul.left_side_bar_list {
  font-family: 'Zen Old Mincho', serif;
  font-weight: 400;
  list-style-type: none;
  font-size: 14px;
  margin-top: 2.5px;
  padding-left: 0px;
}
a.sidebar_links {
  text-decoration: none;
}
a.sidebar_links:hover {
  text-decoration: underline;
}
.left_side_bar_social_icons_container {
  margin-top: 2.5px;
}
#twitter_sidebar_blue_icon, #facebook_sidebar_blue_icon, #reddit_sidebar_orange_icon {
  display: none;
}
.left_side_bar_social_logos {
  height: 17px;
}
.left_sidebar_social_icons_link {
  display: inline-block;
  margin-right: 0px;
}
/*************************************Top Section********************************************************/
/*****************Other pages (top left)*************************************/
.other_pages {
  font-family: "Computer Modern Serif";
  width: 100%;
  font-size: 90%;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.5em;
}
/* Links */
.other_pages a {
  margin-bottom: 16px;
  padding-right: 10px;
  text-decoration: none;
  display: block;
  width: max-content;
}
.other_pages a:hover {
  text-decoration: underline;
}
.programs_container {
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
}
.programs_title{
  margin-bottom: 0px;
}
.programs_title_symbol {
  font-style: normal;
  display: inline-block;
  font-size: 7.5px;
}
.programs {
  visibility: hidden; /* revealed after intialize_page() is finished */
  height: 100%;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 10px;
  overflow: hidden;
  /* transition is set by function initialize_page() to the below value
  transition: height .5s ease; 
  */
}
.programs_container:hover .programs_title{
  text-decoration: underline;
}
/*****************Chart container (top center)*************************************/
.chart, .chart_wide {
  font-family: "Computer Modern Sans";
  border-style: solid;
  border-width: 1.5px;
  border-color: #adadad;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.chart_wide {
  width: 140%;
  margin-left: -10%;
  position: relative;
}
.wide_inputs {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.inner_chart_left {
  display: inline-block;
  width: 48.5%;
  margin-right: 20px;
}
.inner_chart_right {
  display: inline-block;
  width: 48.5%;
}
.chart_wide_name {
  text-align: center;
  text-decoration: underline;
  margin-top: 5px;
  padding-top: 0px;
}
.wide_show_values_button {
  position: absolute;
  right: 10px;
  top: 15px;
}
/*******User Inputs**************/
.user_inputs {
  overflow: hidden;
  height: 100%;
  transition: height 1s ease; 
}
/*******Center Explanation Box****/
.center_explanation_box {
  border: solid;
  border-color: #adadad;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;  /* Firefox */
  transition: height 1s ease; 
}
.center_explanation_box:scrollbar { 
    display: none;  /* Safari and Chrome */
}
p.explanation_text {
  transition: color .5s linear; 
}
input[type=submit].end_animation {
  font-family: "Computer Modern Sans";
  float: right;
  border-width: 1.5px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;

  display: none;
}
input[type=submit].end_animation:disabled:hover {
  cursor: default;
}
/**********Power Users*************/
.chart_attributes {
  margin-top: 20px;
  font-size: 90%;
}
/**********Power Users*************/
.arbitray_income_container {
  display: none;
}
h3.power_users_header {
  font-family: 'Latin Modern Sans';
}
input.arbitrary_income {
  width: 80px;
}
.power_users_container {
  font-size: 80%;
  line-height: 1.5em;
  padding-bottom: 10px;
}
.power_users_sliders_container {
  display: none;
  padding-right: 20px;
  padding-bottom: 10px;
}
input.download_button {
  font-family: "Computer Modern Sans";
  font-size: 90%;
  border: solid;
  border-width: 1.5px;
  border-color: #adadad;
  width: 15%px;
  height: 10%;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 0px;
}
input.download_button:hover{
  background-color: #d1d1d1
}
/******Chart notes*************/
button.chart_notes_button {
  font-size: 80%;
  margin-top: 5px;
}
button.chart_notes_button:hover {
  background-color: #f0efed;
}
.chart_notes_container {
  font-size: 65%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 1.5em;
}
.notes_title {
  padding-left: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
ul.notes_list {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/*******Slider Formatting********/
.slidecontainer {
  width: 100%;
}
/*Display income */
.slider-text {
  display: inline-block;
  width: 40%;
  line-height: 1.3em;
}
.slider-actual {
  display: inline-block;
  vertical-align: top;
  margin-left: 0%;
  margin-right: 0%;
  width: 55%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #1DA1F2;
  cursor: pointer;
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #1DA1F2;
  cursor: pointer;
  border-radius: 50%;
}
/*****************Highlights (Top Right)*************************************/
.highlights {
  font-family: 'Computer Modern Serif';
  border: none;
  border-width: 1.5px;
  border-color: #adadad;
  width: 95%;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin-left: 5px;
}
.highlights_title {
  font-size: 110%;
  border: solid;
  border-width: 1.5px;
  border-color: #adadad;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* Hidden during page initialization */
#highlights_content, #programs {
  visibility: hidden;
}
.loader_container {
  border: solid;
  border-top: none;
  border-color: #adadad;
  border-width: 1.5px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 80%;
}
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
button.top_button{
  border-top: none;
}
button.bottom_button{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.explanation_and_animation_button_container{
  height: 100%;
  margin: 0px;
  overflow: hidden;
  /* transition is set by function initialize_page() to the below value
  transition: height .5s ease; 
  */
}
p.explanation {
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 80%;
}
input[type=submit].animation_button {
  width: 50%;
  border-width: 1.5px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 15px;
}
/* No cursor change on hover when disabled */
input[type=submit].animation_button:disabled:hover {
  cursor: default;
}

/*******Article*******************************************************************************/
img.table {
  display: inline-block;
}
/*******References*******************************************************************************/
.references, .notes{
  font-size: 80%;
  line-height: 1.75em;
  display: block;
}
ul.references_list, ol.notes_list {
  margin-left: 5px;
  padding-left: 3%;
}
a.refs {
  text-decoration: none;
}
/*******Page Bottom*******************************************************************************/
#bottom_logo, #bottom_name {
  font-family: 'Zen Antique Soft', serif;
}
#bottom_logo {
  font-size: 120%;
}
#bottom_socials {
  position: absolute;
  right: 0;
  top: 5px;
}
svg.bottom_social_logos {
  height: 17.5px;
}
#twitter_bottom_button_blue_icon, #substack_bottom_button_blue_icon {
  display: none;
}
a.bottom_social_links {
  display: inline-block;
  margin-right: 5px;
}
#cc_container {
  position: relative;
  margin-top: 5px;
}
#cc_logos {
  position: absolute;
  margin-top: 10px;
  text-decoration: none;
}
#cc_description {
  position: absolute;
  margin-top: 4px;
  line-height: 1.2em;
  margin-left: 50px;
}
