@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&family=Zen+Antique+Soft&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap');
body {
  font-family: 'Latin Modern Sans';
  text-rendering: optimizeLegibility;
  line-height: 2em;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
/*********************** Text **********************************************************/
h1 {
  font-family: 'Zen Antique Soft', serif;
  font-weight: 800;
}
h2, h3, h4 {
  font-family: 'Zen Old Mincho', serif;
  font-weight: 900;
}
h1, h3, h4 {
  margin-bottom: 0px;
}
h1 {
  margin-top: 0px;
}
h2 {
  line-height: 1em;
  margin-bottom: 10px;
}
p, ol, ul {
  font-family: 'Latin Modern Sans';
  line-height: 1.5em;
}
p.inline {
  display: inline-block;
  margin: 0px;
}
p.top {
  margin-top: -5px;
}
sup {
  line-height: 0;
  font-size: .7em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
    overflow-x: auto;
    overflow-y: hidden;
}
.article_tag {
  font-size: 90%;
  margin-left: 20px;
  margin-bottom: 12.5px;
}
.zen_font {
  font-family: 'Zen Antique Soft', serif;
}
/*********************** User Inputs **********************************************************/
select {
  border: solid;
  border-radius: 2.5px;
  border-width: 1.5px;
}
button, input {
  font-family: "Computer Modern Sans";
}
button {
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-top: solid;
  border-width: 1.5px;
}
.dropdown {
  display: inline-block;
}
.center_floating_button {
  margin-top: 10px;
  float: right;
}
input[type=submit].small_button {
  font-size: 13px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 1.5px !important;
  transition: background-color .2s ease, border .2s ease;
}
input[type=submit].animation_button {
  width: 50%;
  margin-bottom: 15px;
}
/*********************** Tables & Video **********************************************************/
table {
  display: inline-table;
}
table, th, td {
  text-align: left;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding-left: 3px;
}
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*********************** Page Positioning **********************************************************/
.top {
}
.left_side{
  display: inline-block;
  vertical-align: top;
  width: 18%;
  padding-right: 2.5%;
  height: 0px; /* prevents elements below from being pushed down the page when the programs dropdown is expanded */
}
.center{
  display: inline-block;
  vertical-align: top;
  width: 56.8%;
  margin-right: 0px;
}
.center_no_side_elements {
  width: 56.8%;
  margin-left: 20.8%;
}
.right_side {
  display: inline-block;
  vertical-align: top;
  width: 21.5%;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
  height: 0px; /* prevents elements below from being pushed down the page when the programs dropdown is expanded */
}
section.page_bottom {
  position: relative;
  border-top: solid;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 75px;
  padding-bottom: 40px;
  line-height: 1.5em;
}
.float_right {
  float: right;
}
/*********************** Desktop: hide mobile elements **********************************************************/
.mobile_navbar, .mobile_dropdown {
  display: none;
}
#mobile_highlights {
  display: none;
}
#blog_promote_horizontal_link, #blog_promote_mobile_link {
  display: none;
}
/***********************Top elements********************************************************************/
.logo {
  width: 200px;
  position: absolute;
  margin-left: 30px;
  margin-top: 25px;
}
svg.logo-svg {
  width: 125px;
  height: 37.5px;
}
.page_color_toggle_container {
  position: absolute;
  top: 25px;
  left: 78.5%;
  width: 21.5%;
}
.page_color_button_group {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 30px;
  border-width: 1.5px;
  width: 150px;
}
.page_color_button_group button {
  font-size: 11px;
  border: none;
  width: 33.33%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
}
.page_color_button_group:after {
  content: "";
  clear: both;
  display: table;
}
.page_color_toggler {
  position: absolute;
  height: 100%;
  width: 50px;
  border-radius: 30px;
  opacity: 20%;
  transition: left .2s ease !important;
}
/*********************** Title ********************************************************************/
.title_container {
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}
.category {
  display: none;
}
#page_title {
  margin-bottom: 4px;
  font-size: 240%;
  line-height: 1.1em;
}
.name {
  font-family: 'Zen Antique Soft', serif;
  line-height: 2em;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 8px;
  text-decoration: none;
}
a.my_socials {
  margin-left: 3px;
}
.top_social_icons {
  height: 12.5px;
}
.top_social_icons:hover {
  transform: scale(1.1);
}
.page_description {
  font-family: "Computer Modern Classical Serif Italic";
  font-size: 17px;
  line-height: 1.5em;
}
/***********************Blog promotion ********************************************************************/
.blog_container {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 10px;
  display: grid;
  grid-template-columns: .75fr .1fr 1fr .1fr 1fr .1fr 1fr .1fr 1fr;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  transition: all .25s ease;
  animation: gradient 10s ease infinite;
}
.blog_container:hover {
  transform: scale(1.01);
}
a.blog_promotion_link_container {
  color: white !important;
  text-decoration: none;
}
.blog_grid_item {
  font-family: "Computer Modern Classical Serif Italic";
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5em;
  margin: 10px;

  display: flex;
}
.blog_grid_item_left {
  margin-right: 10px;
  margin-left: 20px;
}
.blog_grid_item_right {
  margin-right: 20px;
}
.blog_text{
  margin: auto;
}
.blog_svg {
  margin: auto;
  object-fit: cover;
  width: 100%;
  stroke: white;
  transition: all .25s ease;
}
.blog_svg:hover  {
  stroke: white;
}
.blog_logo_J {
  fill: white;
  fill-opacity: 0;
  /* transition: fill-opacity .1s ease; */
}
.blog_container:hover .blog_svg {
  /* animation: spin .5s ease; */
  /* transform: scale(1.1); */
}
.vertical_line {
  border-right: solid;
  border-width: 2.5px;
  border-radius: 2px;
  border-color: white;
  height: 85%;
  margin: auto;
}

.vertical_blog_container {
  width: 17.5%;
  border-radius: 10px;
  border: none;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  transition: all .25s ease;
  animation: gradient 10s ease infinite;
}
.vertical_blog_container:hover {
  transform: scale(1.005);
}
.vertical_blog_svg {
  margin: auto;
  object-fit: cover;
  width: 30%;
  stroke: white;
  transition: all .25s ease;
}
.page_right {
  float: right;
  margin-right: 30px;
}
.vertical_blog {
  font-size: 16px;
}
.vertical_blog:hover {
  background-color: rgba(239, 239, 240, 0.15);
  transform: scale(1.015);
}
.vertical_blog_logo {

}
.vertical_blog_logo:hover {
  background-color: rgba(239, 239, 240, 0);
}
.horizontal_line {
  border-top: solid;
  border-color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes gradient { 
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
}
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
/*****************Left side bar*************************************/
.left_side_bar {
  position: absolute;
  margin-left: 30px;
  margin-top: 140vh;
}
.left_side_bar_title_text {
  font-family: 'Zen Old Mincho', serif;
  font-weight: 900;
  font-size: 14px;
}
.left_side_bar_horizontal_line {
  border-top: solid;
  height: 0px;
}
ul.left_side_bar_list {
  font-family: 'Zen Old Mincho', serif;
  font-weight: 400;
  list-style-type: none;
  font-size: 14px;
  margin-top: 2.5px;
  padding-left: 0px;
}

.left_side_bar_social_icons_container {
  margin-top: 2.5px;
}
.left_side_bar_social_logos {
  height: 17px;
}
a.left_sidebar_social_icons_link:hover .left_side_bar_social_logos {
  transform: scale(1.1);
}
.left_sidebar_social_icons_link {
  display: inline-block;
  margin-right: 0px;
}
/*************************************Top Section********************************************************/
/*****************Other pages (top left)*************************************/
.other_pages {
  font-family: "Computer Modern Serif";
  width: 100%;
  font-size: 14px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.5em;
}
/* Links */
.other_pages a {
  margin-bottom: 16px;
  padding-right: 10px;
  display: block;
  width: max-content;
}
.programs_container {
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
  width: fit-content;
}
.programs_title_text {
  margin-bottom: 0px;
  width: fit-content;
}
.programs_title {
  width: fit-content;
}
.programs_title_symbol {
  font-style: normal;
  display: inline-block;
  font-size: 7.5px;
}
.programs {
  visibility: hidden; /* revealed after intialize_page() is finished */
  height: 100%;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 10px;
  overflow: hidden;
  /* transition is set by function initialize_page() to the below value
  transition: height .5s ease; 
  */
}
.programs_title:hover {
  text-decoration: underline;
}
/***************** Chart container *************************************/
.chart, .chart_wide {
  font-family: "Computer Modern Sans";
  border-width: 1.5px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.chart_wide {
  width: 140%;
  margin-left: -10%;
  position: relative;
}
.chart_actual {
  margin-top: 20px;
}
.wide_inputs {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.inner_chart_left {
  display: inline-block;
  width: 48.5%;
  margin-right: 20px;
}
.inner_chart_right {
  display: inline-block;
  width: 48.5%;
}
h3.chart_title {
  text-align: center;
  text-decoration: underline;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 7.5px;
}
p.chart_description {
  font-family: "Computer Modern Classical Serif Italic";
  font-size: 16px;
  margin-top: -2.5px;
  margin-bottom: 7.5px;
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.chart_horizontal_line {
  height: 0;
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: solid;
  border-width: 1.5px;
  border-color: var(--base-border);
  margin-bottom: 5px;
  margin-top: 10px;
}
.chart_wide_name {
  text-align: center;
  text-decoration: underline;
  margin-top: 5px;
  padding-top: 0px;
}
.wide_show_values_button {
  position: absolute;
  right: 10px;
  top: 15px;
}
/*******User Inputs**************/
.user_inputs {
  overflow: hidden;
  height: 100%;
  transition: height 1s ease; 
}
/*******Center Explanation Box****/
.center_explanation_box {
  border: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;  /* Firefox */
  transition: height 1s ease; 
}
.center_explanation_box:scrollbar { 
    display: none;  /* Safari and Chrome */
}
input[type=submit].end_animation {
  font-family: "Computer Modern Sans";
  float: right;
  border-width: 1.5px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  display: none;
}
input[type=submit].end_animation:disabled:hover {
  cursor: default;
}
/********** Chart Logo *************/
.chart_title_logo_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 7.5px;
}
.chart_byline {
  font-size: 12px;
  color: var(--low-emphasis-color);
}
h3.chart_title {
  vertical-align: top;
  margin-top: 0;
  font-size: 24px;
}
svg.chart-logo {
  width: 100px;
  margin-top: 0;
}
/********** Power Users *************/
.chart_attributes {
  font-size: 90%;
}
.power_users_container {
  font-size: 80%;
  line-height: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.arbitray_income_container {
  display: none;
}
h2.power_users_header {
  font-family: 'Latin Modern Sans';
  margin-top: 0px;
  font-size: 16px;
}
input.arbitrary_income {
  width: 80px;
}
.power_users_sliders_container {
  display: none;
  padding-right: 20px;
  padding-bottom: 10px;
}
input.download_button {
  font-family: "Computer Modern Sans";
  font-size: 90%;
  border: solid;
  border-width: 1.5px;
  border-color: #adadad;
  width: 15%px;
  height: 10%;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 0px;
}
input.download_button:hover{
  background-color: #d1d1d1
}
/******Chart notes*************/
button.chart_notes_button {
  font-size: 12px;
  margin-top: 5px;
}
.chart_notes_container {
  font-size: 11px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 1.5em;
}
.notes_title {
  padding-left: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
ul.notes_list {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/*******Slider Formatting********/
.slidecontainer {
  width: 100%;
}
/*Display income */
.slider-text {
  display: inline-block;
  width: 40%;
  line-height: 1.3em;
}
.slider-actual {
  display: inline-block;
  vertical-align: top;
  margin-left: 0%;
  margin-right: 0%;
  width: 55%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 15px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #1DA1F2;
  cursor: pointer;
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #1DA1F2;
  cursor: pointer;
  border-radius: 50%;
}
/***************** Highlights (Top Right) *************************************/
.highlights {
  font-family: 'Computer Modern Serif';
  width: 95%;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  border-width : 1.5px !important;
}
.highlights_title {
  font-size: 18px;
  font-weight: bold;
  border: solid;
  border-width: 1.5px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* Hidden during page initialization */
#highlights_content, #programs {
  visibility: hidden;
}
.loader_container {
  border: solid;
  border-top: none;
  border-color: #adadad;
  border-width: 1.5px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
}
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
button.top_button{
  border-top: none;
}
button.bottom_button{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.explanation_and_animation_button_container{
  height: 100%;
  margin: 0px;
  overflow: hidden;
  /* transition is set by function initialize_page() to the below value:
  transition: height .5s ease; 
  */
}
p.explanation {
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}
/******* Article *******************************************************************************/
img.table {
  display: inline-block;
}
/******* Appendix *****************************************************************************/
.appendix_container {
  margin-top: 15px;
  border-radius: 5px;
  border-width: 1.5px !important;
}
.appendix {
  font-size: 14px;
  line-height: 1.75em;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  border: none;
  border-bottom: solid;
  border-width: 1.5px;
}
.appendix_bottom {
  border: none;
}
.appendix_button {
  font-family: 'Zen Old Mincho', serif;
  font-weight: 900;
  font-size: 16px;
  text-align: left;
  border: none;
}
table.appendix_header {
  font-size: 16px;
  width: 100%;
  border: none;
}
th.appendix_th {
  border: none;
}
th.appendix_text {
  width: 90%;
}
.appendix_button_top {
  border-top-left-radius: 3.4px;
  border-top-right-radius: 3.4px;
}
.appendix_button_bottom {
  border: none !important;
  border-bottom-left-radius: 3.4px;
  border-bottom-right-radius: 3.4px;
}
.appendix_chevron {
  float: right;
  margin-right: 10px;
  margin-top: 3.5px;
}
.rotate180-forwards {
  animation: rotate180-forwards-keyframes .35s ease;
  animation-fill-mode: forwards;
}
.rotate180-back {
  animation: rotate180-back-keyframes .35s ease;
  animation-fill-mode: forwards;
}
@keyframes rotate180-forwards-keyframes {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
@keyframes rotate180-back-keyframes {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}
/******* References *****************************************************************************/
.references, .notes {
  font-size: 13px;
  line-height: 1.75em;
  display: block;
}
ul.references_list, ol.notes_list {
  margin-left: 5px;
  padding-left: 3%;
}
a.refs {
  font-family: "Computer Modern Sans";
  text-decoration: none;
  font-size: 14px;
  vertical-align: top;
}
.highlighted {
  background-color: var(--highlighted);
}
/******* Tooltip *****************************************************************************/
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  border: solid;
  border-width: 1px;
  border-color: var(--base-border);
  background-color: var(--base-background);
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  margin-left: -17.5px;
  opacity: 0;
  transition: opacity .3s;
  width: max-content;
  max-width: 250px;

  color: var(--base-text);
  font-size: 13px;
  line-height: 1.5em;
  text-align: left;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 7px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--base-border) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/******* Page Bottom *******************************************************************************/
#bottom_logo, #bottom_name {
  font-family: 'Zen Antique Soft', serif;
}
#bottom_logo {
  font-size: 16px;
}
#bottom_socials {
  position: absolute;
  right: 0;
  top: 5px;
}
svg.bottom_social_logos {
  height: 17.5px;
}
#twitter_bottom_button_blue_icon, #substack_bottom_button_blue_icon {
  display: none;
}
a.bottom_social_links {
  display: inline-block;
  margin-right: 5px;
}
#cc_container {
  position: relative;
  margin-top: 5px;
}
#cc_logos {
  position: absolute;
  margin-top: 10px;
  text-decoration: none;
}
#cc_description {
  position: absolute;
  margin-top: 4px;
  line-height: 1.2em;
  margin-left: 50px;
}
