/*********************** Universal Colors *********************************************************************************************************/
.twitter-blue {fill: #1D9BF0;}
.facebook-blue {fill: #1778F2;}
.reddit-orange {fill: #FF5700;}
.substack-orange {fill: #ff6700;}
.c3-ygrid-line line {
  stroke-opacity: 0;
}

/*********************** Transition Settings ******************************************************************************************************/
body, select, #page_color_toggler, a.sidebar_links, .other_pages a, #page_color_toggler {
  transition: background-color 1s ease, color 1s ease;
}
.chart, .chart_wide, .highlights {
  transition: border 1s ease;
}
.center_explanation_box, .slider {
  /* For some reason, .center_explanation_box and .slider requires the !important tag or it will switch colors immediately*/
  transition: background-color 1s ease, border 1s ease !important; 
}
/***** Some elements need fast transition by default *****/
.social_icon {
  transition: fill .15s ease;
}
button, input[type=submit].animation_button, input[type=submit].end_animation {
  transition: background-color .1s ease;
}
#logo-span1, #logo-span2 {
  transition: fill 1s ease-out;
}

/*********************** Light Mode ***************************************************************************************************************/
/********** Toggler ***********************/
.light-mode #page_color_toggler {
  left: 0;
  background-color: grey;
}
.light-mode .page_color_button_group {
  border-color: #dbdbdb;
}
.light-mode .page_color_button_group button {
  color: #bdbdbd !important;
}
/********** Page Fundamentals *************/
.light-mode, .light-mode button, .light-mode select {
  background-color: white;
  color: black;
}
.light-mode a:link {
  color: #0000EE;
}
.light-mode a:visited {
  color: #551A8B;
}
.light-mode button {
  border-color: #adadad;
}
/*********************** Tables ****************************************************************************/
.light-mode table, .light-mode th, .light-mode tr, .light-mode td {
  border-color: black;
}
/********** Page Top ***************/
.light-mode #logo-span1, .light-mode #logo-span2 {
  fill: black;
}
/********** Highlights *************/
.light-mode .highlights, .light-mode .highlights_title {
  border-color: #adadad !important;
}
.light-mode .highlights_content button:hover {
  background-color: #f0efed;
}
/********** Left Sidebar ***********/
.light-mode a.sidebar_links, .light-mode .other_pages a {
  color: black;
}
/********** Chart Module **********/
.light-mode .chart, .light-mode .chart_wide {
  border-style: solid;
  border-color: #adadad;
}
.light-mode .center_explanation_box {
  background-color: #f5f3f2;
  border-color: #adadad;
}
.light-mode .slider {
  background-color: #d3d3d3;
}
.light-mode button.chart_notes_button:hover {
  background-color: #f0efed;
}
/********** C3.JS Charts *****************/
.light-mode .c3 text {
  fill: black;
}
.light-mode .c3-grid line, .light-mode .c3-axis-x line, .light-mode .c3-axis-y line, .light-mode .c3-axis-x path, .light-mode .c3-axis-y path {
  stroke: black !important; /* sometimes does not transition without !important tag */
}
/********** Page Bottom ***********/
.light-mode .page_bottom {
  color: #858585;
  border-color: #bdbdbd;
}
/********** Animation Buttons *****/
.light-mode input[type=submit].animation_button, .light-mode input[type=submit].end_animation {
  background-color: #f5f3f2;
  border-color: #adadad;
  color: black;
}
/* Lighter color on hover */
.light-mode input[type=submit].animation_button:hover, .light-mode input[type=submit].end_animation:hover {
  background-color: #d1d1d1;
}
/* Lighter colors for when it is disabled */
.light-mode input[type=submit].animation_button:disabled, .light-mode input[type=submit].end_animation:disabled {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/* No color change on hover when disabled */
.light-mode input[type=submit].animation_button:disabled:hover, .light-mode input[type=submit].end_animation:disabled:hover {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/********** Social icon colors ****/
.light-mode .social-base-color {fill: #000000;}
.light-mode .social-page-bottom-base-color {fill: #858585;}
/* social media circle icons */
.light-mode path.st1 {fill:#FFFFFF;}
.light-mode circle.cc-circle {fill: #ffffff;}


/*********************** Sepia Mode ***************************************************************************************************************/
/********** Toggler ***********************/
.sepia #page_color_toggler {
  left: 49px;
  background-color: #827868;
}
.sepia .page_color_button_group {
  border-color: #b5a177;
}
.sepia .page_color_button_group button {
  color: #b5a177 !important;
}
/********** Page Fundamentals *************/
.sepia, .sepia button, .sepia select {
  background-color: #ffeed4;
  color: black;
}
.sepia a:link {
  color: #0000EE;
}
.sepia a:visited {
  color: #551A8B;
}
.sepia button {
  border-color: #b5a177;
}
/*********************** Tables ****************************************************************************/
.sepia table, .sepia th, .sepia tr, .sepia td {
  border-color: black;
}
/********** Page Top ***************/
.sepia #logo-span1, .sepia #logo-span2 {
  fill: black;
}
/********** Highlights *************/
.sepia .highlights, .sepia .highlights_title {
  border-color: #b5a177 !important;
}
.sepia .highlights_content button:hover {
  background-color: #f5e4cb;
}
/********** Left Sidebar ***********/
.sepia a.sidebar_links, .sepia .other_pages a {
  color: black;
}
/********** Chart Module **********/
.sepia .chart, .sepia .chart_wide {
  border-style: solid;
  border-color: #b5a177;
}
.sepia .center_explanation_box {
  background-color: #f5e4cb;
  border-color: #b5a177;
}
.sepia .slider {
  background-color: #b5a177;
}
.sepia button.chart_notes_button:hover {
  background-color: #f5e4cb;
}
/********** C3.JS Charts *****************/
.sepia .c3 text {
  fill: black;
}
.sepia .c3-grid line, .sepia .c3-axis-x line, .sepia .c3-axis-y line, .sepia .c3-axis-x path, .sepia .c3-axis-y path {
  stroke: black !important; /* sometimes does not transition without !important tag */
}
/********** Page Bottom ***********/
.sepia .page_bottom {
  color: #8a7c5e;
  border-color: #8a7c5e;
}
/********** Animation Buttons *****/
.sepia input[type=submit].animation_button, .sepia input[type=submit].end_animation {
  background-color: #f5e4cb;
  border-color: #b5a177;
  color: black;
}
/* Darker color on hover */
.sepia input[type=submit].animation_button:hover, .sepia input[type=submit].end_animation:hover {
  background-color: #e3d2b8;
}
/* Lighter colors for when it is disabled */
.sepia input[type=submit].animation_button:disabled, .sepia input[type=submit].end_animation:disabled {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/* No color change on hover when disabled */
.sepia input[type=submit].animation_button:disabled:hover, .sepia input[type=submit].end_animation:disabled:hover {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/********** Social icon colors ****/
.sepia .social-base-color {fill: #000000;}
.sepia .social-page-bottom-base-color {fill: #8a7c5e;}
/* social media circle icons */
.sepia path.st1 {fill :#ffeed4;}
.sepia circle.cc-circle {fill : #ffeed4;}


/*********************** Dark Mode ***************************************************************************************************************/
/********** Toggler ***********************/
.dark-mode #page_color_toggler {
  left: 100px;
  background-color: grey;
}
.dark-mode .page_color_button_group {
  border-color: #dbdbdb;
}
.dark-mode .page_color_button_group button {
  color: #bdbdbd !important;
}
/********** Page Fundamentals *************/
.dark-mode, .dark-mode button, .dark-mode select {
  background-color: #242424;
  color: #dbdbdb;
}
.dark-mode a:link {
  color: #86acf0;
}
.dark-mode a:visited {
  color: #bd86f1;
}
.dark-mode button {
  border-color: #adadad;
}
/*********************** Tables ****************************************************************************/
.dark-mode table, .dark-mode th, .dark-mode tr, .dark-mode td {
  border-color: #bdbdbd;
}
/********** Page Top *****************/
.dark-mode #logo-span1, .dark-mode #logo-span2 {
  fill: #dbdbdb;
}
/********** Highlights ***************/
.dark-mode .highlights, .dark-mode .highlights_title {
  border-color: #adadad !important;
}
.dark-mode .highlights_content button:hover {
  background-color: #474747;
}
/********** Left Sidebar *************/
.dark-mode a.sidebar_links, .dark-mode .other_pages a {
  color: #dbdbdb;
}
/********** Chart Module *************/
.dark-mode .chart, .dark-mode .chart_wide {
  border-style: solid;
  border-color: #adadad;
}
.dark-mode .center_explanation_box {
  background-color: #141414;
  border-color: #adadad;
}
.dark-mode .slider {
  background-color: #d3d3d3;
}
.dark-mode button.chart_notes_button:hover {
  background-color: #474747;
}
/********** C3.JS Charts ******************/
.dark-mode .c3 text {
  fill: #dbdbdb;
}
.dark-mode .c3-grid line, .dark-mode .c3-axis-x line, .dark-mode .c3-axis-y line, .dark-mode .c3-axis-x path, .dark-mode .c3-axis-y path {
  stroke: #dbdbdb !important; /* sometimes does not transition without !important tag */
}
/********** Page Bottom *************/
.dark-mode .page_bottom {
  color: #dbdbdb;
  border-color: #dbdbdb;
}
/********** Animation Buttons *********/
.dark-mode input[type=submit].animation_button, .dark-mode input[type=submit].end_animation {
  background-color: #141414;
  border-color: #dbdbdb;
  color: #dbdbdb;
}
/* Lighter color on hover */
.dark-mode input[type=submit].animation_button:hover, .dark-mode input[type=submit].end_animation:hover {
  background-color: #474747;
}
/* Lighter colors for when it is disabled */
.dark-mode input[type=submit].animation_button:disabled, .dark-mode input[type=submit].end_animation:disabled {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/* No color change on hover when disabled */
.dark-mode input[type=submit].animation_button:disabled:hover, .dark-mode input[type=submit].end_animation:disabled:hover {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/********** Social Icons ************/
.dark-mode .social-base-color {fill: #dbdbdb;}
.dark-mode .social-page-bottom-base-color {fill: #dbdbdb;}
/* social media circle icons */
.dark-mode path.st1 {fill: #242424;}
.dark-mode circle.cc-circle {fill: #242424;}
