/*********************** Universal Colors *********************************************************************************************************/
.twitter-blue {fill: #1D9BF0;}
.facebook-blue {fill: #1778F2;}
.reddit-orange {fill: #FF5700;}
.substack-orange {fill: #ff6700;}

/*********************** Transition Settings ******************************************************************************************************/
body, select, #page_color_toggler, a.sidebar_links, .other_pages a, #page_color_toggler {
  transition: background-color 1s ease, color 1s ease;
}
.chart, .chart_wide, .highlights {
  transition: border 1s ease;
}
.center_explanation_box, .slider {
  /* For some reason, .center_explanation_box and .slider requires the !important tag or it will switch colors immediately*/
  transition: background-color 1s ease, border 1s ease !important; 
}
/***** Some elements need fast transition by default *****/
.social_icon {
  transition: fill .15s ease;
}
button, input[type=submit].animation_button, input[type=submit].end_animation {
  transition: background-color .1s ease;
}
#logo-span1, #logo-span2 {
  transition: fill 1s ease-out;
}

/*********************** Color Modes *********************************************************************************************************/
.light-mode {
  --base-background: white;
  --base-text: black;
  --base-border: #adadad;
  --base-link: #0000EE;
  --base-link-visited: #551A8B;
  --button-hover: #f0efed;
  --center-explanation-box: #f5f3f2;
  --slider: #d3d3d3;
  --animation-button-background: #f5f3f2;
  --page-bottom-border: #bdbdbd;
  --page-bottom-text: #858585;

  --base-social-icon-fill: #000000;
  --page-bottom-social-icon-fill: #858585;

  --toggle-position: 0px;
  --toggle-color: grey;
  --toggle-text: #bdbdbd;
  --toggle-border: #dbdbdb;
}

.sepia {
  --base-background: #ffeed4;
  --base-text: black;
  --base-border: #b5a177;
  --base-link: #0000EE;
  --base-link-visited: #551A8B;
  --button-hover: #f5e4cb;
  --center-explanation-box: #f5e4cb;
  --slider: #b5a177;
  --animation-button-background: #f5e4cb;
  --page-bottom-border: #8a7c5e;
  --page-bottom-text: #8a7c5e;

  --base-social-icon-fill: #000000;
  --page-bottom-social-icon-fill: #8a7c5e;

  --toggle-position: 49px;
  --toggle-color: #827868;
  --toggle-text: #b5a177;
  --toggle-border: #b5a177;
}

.dark-mode {
  --base-background: #242424;
  --base-text: #dbdbdb;
  --base-border: #dbdbdb;
  --base-link: #86acf0;
  --base-link-visited: #bd86f1;
  --button-hover: #474747;
  --center-explanation-box: #141414;
  --slider: #d3d3d3;
  --animation-button-background: #141414;
  --page-bottom-border: #dbdbdb;
  --page-bottom-text: #dbdbdb;

  --base-social-icon-fill: #dbdbdb;
  --page-bottom-social-icon-fill: #dbdbdb;

  --toggle-position: 100px;
  --toggle-color: grey;
  --toggle-text: #dbdbdb;
  --toggle-border: #dbdbdb;
}

/*********************** Color Settings ***************************************************************************************************************/
/********** Toggler ***********************/
#page_color_toggler {
  left: var(--toggle-position);
  background-color: var(--toggle-color);
}
.page_color_button_group {
  border-color: var(--toggle-border);
}
.page_color_button_group button {
  color: var(--toggle-text) !important;
}
/********** Page Fundamentals *************/
body,  button,  select {
  background-color: var(--base-background);
  color: var(--base-text);
}
a:link {
  color: var(--base-link);
}
a:visited {
  color: var(--base-link-visited);
}
button {
  border-color: var(--base-border);
}
/*********************** Tables ****************************************************************************/
table,  th,  tr,  td {
  border-color: var(--base-border);
}
/********** Page Top *****************/
#logo-span1,  #logo-span2 {
  fill: var(--base-text);
}
/********** Highlights ***************/
.highlights,  .highlights_title {
  border-color: var(--base-border) !important;
}
.highlights_content button:hover {
  background-color: var(--button-hover);
}
/********** Left Sidebar *************/
a.sidebar_links,  .other_pages a {
  color: var(--base-text);
}
/********** Chart Module *************/
.chart, .chart_wide {
  border-style: solid;
  border-color: var(--base-border);
}
.center_explanation_box {
  background-color: var(--center-explanation-box);
  border-color: var(--base-border);
}
.slider {
  background-color: var(--slider);
}
button.chart_notes_button:hover {
  background-color: var(--button-hover);
}
/********** C3.JS Charts ******************/
.c3 text {
  fill: var(--base-text);
}
.c3-grid line,  .c3-axis-x line,  .c3-axis-y line,  .c3-axis-x path,  .c3-axis-y path {
  stroke: var(--base-text) !important; /* sometimes does not transition without !important tag */
}
/********** Page Bottom *************/
.page_bottom {
  color: var(--page-bottom-text);
  border-color: var(--page-bottom-border);
}
/********** Animation Buttons *********/
input[type=submit].animation_button,  input[type=submit].end_animation {
  background-color: var(--animation-button-background);
  border-color: var(--base-border);
  color: var(--base-text);
}
/* Lighter color on hover */
input[type=submit].animation_button:hover,  input[type=submit].end_animation:hover {
  background-color: var(--button-hover);
}
/* Lighter colors for when it is disabled */
/*
input[type=submit].animation_button:disabled,  input[type=submit].end_animation:disabled {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/* No color change on hover when disabled */
/*
input[type=submit].animation_button:disabled:hover,  input[type=submit].end_animation:disabled:hover {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/********** Social Icons ************/
.social-base-color {
  fill: var(--base-social-icon-fill);
}
.social-page-bottom-base-color {
  fill: var(--page-bottom-social-icon-fill);
}
/* social media circle icons */
path.st1, circle.cc-circle {
  fill: var(--base-background);
}

