/*********************** Universal Colors *********************************************************************************************************/
.twitter-blue {fill: #1D9BF0;}
.facebook-blue {fill: #1778F2;}
.reddit-orange {fill: #FF5700;}
.substack-orange {fill: #ff6700;}
.linkedin-blue {fill: #1686B0;}
.white-fill {fill: white;}

/*********************** Transition Settings ******************************************************************************************************/
body, select, .page_color_toggler, a.sidebar_links, .other_pages a {
  transition: background-color 1s ease, color 1s ease;
}
.chart, .chart_wide, .highlights {
  transition: border 1s ease;
}
.center_explanation_box, .slider {
  /* For some reason, .center_explanation_box and .slider requires the !important tag or it will switch colors immediately*/
  transition: background-color 1s ease, border 1s ease !important; 
}
/***** Some elements need fast transition by default *****/
.social_icon, .st1 {
  transition: fill .15s ease;
}
/* input[type=submit].animation_button, input[type=submit].end_animation */
button {
  transition: background-color .1s ease;
}
#logo-span1, #logo-span2 {
  transition: fill 1s ease-out;
}

/*********************** Color Modes *********************************************************************************************************/
.light-mode {
  --base-background: white;
  --base-text: black;
  --base-border: #adadad;
  --base-link: #0000EE;
  --base-link-visited: #551A8B;
  --red: red;
  --green: green;
  --highlighted: yellow;

  --small-button-background: #f5f3f2;
  --small-button-hover: #dedede;
  --small-button-disabled-background: #fafafa;
  --small-button-disabled-border-text: #b8b8b8;

  --low-emphasis-color: #bdbdbd;

  --box-color: #f5f3f2;
  --slider: #d3d3d3;
  --page-bottom-color: #858585;

  --toggle-position: 0px;
  --mobile-toggle-position: 0px;
  --toggle-color: grey;

  --category-color: #582cfc;
}

.sepia {
  --base-background: #ffeed4;
  --base-text: black;
  --base-border: #b5a177;
  --base-link: #0000EE;
  --base-link-visited: #551A8B;
  --red: red;
  --green: green;
  --highlighted: yellow;

  --small-button-background: #f5e4cb;
  --small-button-hover: #e3d2b8;
  --small-button-disabled-background: #f5e4cb;
  --small-button-disabled-border-text: #c7b691;

  --low-emphasis-color: #b5a177;

  --box-color: #f5e4cb;
  --slider: #b5a177;
  --page-bottom-color: #8a7c5e;

  --toggle-position: 49px;
  --mobile-toggle-position: 84px;
  --toggle-color: #827868;

  --category-color: #582cfc;
}

.dark-mode {
  --base-background: #242424;
  --base-text: #dbdbdb;
  --base-border: #dbdbdb;
  --base-link: #86acf0;
  --base-link-visited: #bd86f1;
  --red: #ff4845;
  --green: #00d100;
  --highlighted: #545400;

  --small-button-background: #242424;
  --small-button-hover: #6e6e6e;
  --small-button-disabled-background: #242424;
  --small-button-disabled-border-text: #8c8c8c;

  --low-emphasis-color: #dbdbdb;

  --box-color: #474747;
  --slider: #d3d3d3;
  --page-bottom-color: #dbdbdb;

  --toggle-position: 100px;
  --mobile-toggle-position: 168px;
  --toggle-color: #a6a6a6;

  --category-color: #b19cff;
}

/*********************** Color Settings ***************************************************************************************************************/
/********** Toggler ***********************/
.page_color_toggler {
  left: var(--toggle-position);
  background-color: var(--toggle-color);
}
.page_color_button_group {
  border-color: var(--base-border);
}
.page_color_button_group button {
  color: var(--base-border);
}
/********** Page Fundamentals *************/
body {
  background-color: var(--base-background);
  color: var(--base-text);
}
a:link {
  color: var(--base-link);
}
a:visited {
  color: var(--base-link-visited);
}
p.red {
  color: var(--red);
}
p.green {
  color: var(--green);
}
/********** User inputs *************/
button, select {
  background-color: var(--base-background);
  color: var(--base-text);
  border-color: var(--base-border);
}
input[type=submit].small_button {
  background-color: var(--small-button-background);
  border: solid;
  border-color: var(--base-border);
  color: var(--base-text);
}
input[type=submit].small_button:hover {
  background-color: var(--small-button-hover);
}
input[type=submit].small_button:disabled {
  background-color: var(--small-button-disabled-background);
  color: var(--small-button-disabled-border-text);
  border-color: var(--small-button-disabled-border-text);
}
/* No cursor change on hover when disabled */
input[type=submit].small_button:disabled:hover {
  cursor: default;
}
input[type=submit].selected_button {
  background-color: var(--small-button-hover);
}
/********** Tables ******************/
table,  th,  tr,  td {
  border-color: var(--base-border);
}
/********** Page Top *****************/
#logo-span1,  #logo-span2 {
  fill: var(--base-text);
}
/********** Highlights ***************/
.highlights,  .highlights_title {
  border-color: var(--base-border) !important;
}
.highlights_content button:hover {
  background-color: var(--box-color);
}
/********** Left Sidebar *************/
a.sidebar_links,  .other_pages a {
  color: var(--base-text);
}
/********** Chart Module *************/
.chart, .chart_wide {
  border-style: solid;
  border-color: var(--base-border);
}
.center_explanation_box {
  background-color: var(--box-color);
  border-color: var(--base-border);
}
.slider {
  background-color: var(--slider);
}
button.chart_notes_button:hover {
  background-color: var(--box-color);
}
/********** C3.JS Charts *************/
.c3 text {
  fill: var(--base-text);
}
.c3-grid line,  .c3-axis-x line,  .c3-axis-y line,  .c3-axis-x path,  .c3-axis-y path {
  stroke: var(--base-text) !important; /* sometimes does not transition without !important tag */
}
/********** Appendix ****************/
.appendix_container {
  border: solid;
  border-color: var(--base-border);
}
.appendix {
  border-color: var(--base-border);
}
.appendix_button {
  background-color: var(--box-color);
}
.appendix_button:hover {
  background-color: var(--small-button-hover);
}
/********** Page Bottom *************/
.page_bottom {
  color: var(--page-bottom-color);
  border-color: var(--page-bottom-color);
}
/********** Social Icons ************/
.social-base-color {
  fill: var(--base-text);
}
.social-page-bottom-base-color {
  fill: var(--page-bottom-color);
}
/* social media circle icons */
.social-icon-circe-base-color {
  fill: var(--base-background);;
}
path.st1, circle.cc-circle {
  fill: var(--base-background);
}

