/*********************** Page Color Toggle ******************************************************************/
#page_color_toggler {
  left: 100px;
}
/*********************** Page Fundamentals *****************************************************************/
body {
  background-color: #242424;
  color: #dbdbdb;
}
a:link {
  color: #86acf0;
}
a:visited {
  color: #bd86f1;
}
button, select {
  background-color: #242424;
  color: #dbdbdb;
}
/*********************** Page Top **************************************************************************/
#logo-span1,  #logo-span2 {
  fill: #dbdbdb;
}
/*********************** Highlights ************************************************************************/
.highlights_content button:hover {
  background-color: #474747;
}
/*********************** Left Sidebar **********************************************************************/
a.sidebar_links, .other_pages a {
  color: #dbdbdb;
}
.programs_container {
  background-color: #242424;
}
/*********************** Chart Module **********************************************************************/
.center_explanation_box {
  background-color: #141414;
}
/*********************** Charts ****************************************************************************/
.c3 text {
  fill: #dbdbdb;
}
.c3-grid line, .c3-axis-x line, .c3-axis-y line, .c3-axis-x path, .c3-axis-y path {
  stroke: #dbdbdb !important;
}
.c3-ygrid line {
  opacity: 0;
}
/*********************** Page Bottom ***********************************************************************/
.page_bottom {
  color: #dbdbdb;
  border-color: #dbdbdb;
}
/*********************** Social Icons **********************************************************************/
.social-base-color {fill: #dbdbdb;}
.social-page-bottom-base-color {fill: #dbdbdb;}
/* social media circle icons */
path.st1 {fill: #242424;}
circle.cc-circle {fill: #242424;}
/*********************** Animation Buttons *****************************************************************/
input[type=submit].animation_button, input[type=submit].end_animation {
  border: solid;
  background-color: #141414;
  border-color: #dbdbdb;
  color: #dbdbdb;
}
/* Lighter color on hover */
input[type=submit].animation_button:hover, input[type=submit].end_animation:hover {
  background-color: #474747;
}
/* Lighter colors for when it is disabled */
input[type=submit].animation_button:disabled, input[type=submit].end_animation:disabled {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/* No color change on hover when disabled */
input[type=submit].animation_button:disabled:hover, input[type=submit].end_animation:disabled:hover {
  color: #b8b8b8;
  border-color: #b8b8b8;
  background-color: #fafafa;
}
/*********************** Mobile ************************************************************************/
/********* Navbar ***********/
.mobile_navbar {
  background-color: #242424;
}
a.navbar_logo {
  color: #dbdbdb;
}
button.open_icon:hover, button.close_icon{
  background-color: white;
}
.open_close_button span {
  background: #dbdbdb;
}
/********* Dropdown *********/
.mobile_dropdown {
  background-color: #242424;
  border-bottom: 1px solid;
  border-color: #dbdbdb;
}
.mobile_dropdown_horizontal_line {
  border: solid;
  border-width: 1px;
  border-color: #dbdbdb;
}
.mobile_dropdown a {
  color: #dbdbdb;
}
/********* Title *********/
.category {
  color: #dbdbdb;
}
