:root {
  --base-background: #242424;
  --base-text: #dbdbdb;
  --base-border: #dbdbdb;
  --base-link: #86acf0;
  --base-link-visited: #bd86f1;
  --button-hover: #474747;
  --center-explanation-box: #141414;
  --slider: #d3d3d3;
  --animation-button-background: #141414;
  --page-bottom-border: #dbdbdb;
  --page-bottom-text: #dbdbdb;

  --base-social-icon-fill: #dbdbdb;
  --page-bottom-social-icon-fill: #dbdbdb;

  --toggle-position: 100px;
  --toggle-color: grey;
  --toggle-text: #dbdbdb;
  --toggle-border: #dbdbdb;
}
