:root {
  --base-background: #242424;
  --base-text: #dbdbdb;
  --base-border: #dbdbdb;
  --base-link: #86acf0;
  --base-link-visited: #bd86f1;
  --red: #ff4845;
  --green: #00d100;
  --highlighted: #545400;

  --small-button-background: #242424;
  --small-button-hover: #6e6e6e;
  --small-button-disabled-background: #242424;
  --small-button-disabled-border-text: #8c8c8c;

  --low-emphasis-color: #dbdbdb;

  --box-color: #474747;
  --slider: #d3d3d3;
  --page-bottom-color: #dbdbdb;

  --toggle-position: 100px;
  --mobile-toggle-position: 168px;
  --toggle-color: #a6a6a6;

  --category-color: #b19cff;
}
