:root {
  --base-background: white;
  --base-text: black;
  --base-border: #adadad;
  --base-link: #0000EE;
  --base-link-visited: #551A8B;
  --red: red;
  --green: green;
  --highlighted: yellow;

  --c3-grid-line: #949494;

  --small-button-background: #f5f3f2;
  --small-button-hover: #dedede;
  --small-button-disabled-background: #fafafa;
  --small-button-disabled-border-text: #b8b8b8;

  --low-emphasis-color: #bdbdbd;

  --box-color: #f5f3f2;
  --slider: #d3d3d3;

  --toggle-position: 0px;
  --mobile-toggle-position: 0px;
  --toggle-color: grey;

  --category-color: #582cfc;
}