:root {
  --base-background: white;
  --base-text: black;
  --base-border: #adadad;
  --base-link: #0000EE;
  --base-link-visited: #551A8B;
  --button-hover: #f0efed;
  --center-explanation-box: #f5f3f2;
  --slider: #d3d3d3;
  --animation-button-background: #f5f3f2;
  --page-bottom-border: #bdbdbd;
  --page-bottom-text: #858585;

  --base-social-icon-fill: #000000;
  --page-bottom-social-icon-fill: #858585;

  --toggle-position: 0;
  --toggle-color: grey;
  --toggle-text: #bdbdbd;
  --toggle-border: #dbdbdb;
}