/*PROBLEM: Overflow from Mathjax is hidden */
@media screen and (max-width: 900px) {

/*********************** Color Settings ************************************************************************/
.mobile_navbar {
  background-color: var(--base-background);
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--base-border);
  transition: all 1s ease;
}
a.navbar_logo {
  color: var(--base-text) !important;
  transition: color 1s ease;
}
button.open_icon:hover, button.close_icon{
  background-color: var(--base-background);
}
.open_close_button span {
  background: var(--base-text);
}
/********* Dropdown *********/
.mobile_dropdown {
  border-bottom: 1px solid;
  border-color: var(--base-text);
  background-color: var(--base-background);
}
.mobile_dropdown_horizontal_line {
  border: solid;
  border-width: 1px;
  border-color: var(--low-emphasis-color);
}
.mobile_dropdown a {
  color: var(--base-text) !important;
  transition: color 1s ease;
}
/********* Title *********/
.category {
  color: var(--category-color);
}
/*********************** Hide Desktop Elements ************************************************************/
.left_side_bar, .page_color_toggle_container, .logo, .blog_container, .vertical_blog_container {
  display: none;
}
/*********************** Show Mobile Elements **************************************************************/
#blog_promote_mobile_link {
  display: block;
}
.blog_promote_mobile {
  width: 100%;
}

/*********************** Body *****************************************************************************/
body {
  width: 100%;
}
/*********************** Text *******************************************************************************/
h1 {
  font-size: 175%;
}
h2, h3, h4 {
  padding-left: 10px;
  padding-right: 10px;
}
p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}
ol, ul {
  margin-left: 10px;
  margin-right: 10px;
}
/*********************** Page Positioning ********************************************************************/
.left_side {
  display: none;
}
.right_side { 
  display: none;
}
.center {
  display: block;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}
.center_no_side_elements {
  width: 100%;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  overflow: hidden;
}

/*********************** Title *****************************************************************************/
.title_container {
  width: 100%;
  padding-top: 60px;
  margin-bottom: 25px;
}
.category {
  font-family: 'Zen Antique Soft', serif;
  font-size: 85%;
  display: block;
  margin-top: 10px;
}
#page_title, .name, .page_description, .twitter_follow, .category {
  text-align: left;
  margin-left: 15px;
  width: 80%;
}
svg.page-title {
  display: block;
  height: 30px;
  margin-left: 15px;
  margin-top: 12.5px;
}
svg.page-title-two-line {
  display: block;
  height: 60px;
  margin-left: 15px;
  margin-top: 12.5px;
}
text.page-title-text {
  text-anchor: start;
}
g.transform-title {
  transform: translate(0px, 25px);
}
.name, .page_description {
  font-size: 120%;
}
#top_substack_loco {
  margin-left: 5px;
}
.page_description {
  font-size: 120%;
}
/*********************** Chart *****************************************************************************/
#income_slider_container {
  margin-top: 10px;
}
#income_slider_text {
  display: block;
  line-height: 1.2em;
  width: 100%;
}
.slider-actual {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/************ Chart Sliders ******************/
.slider-text {
  width: 100%;
}
/*********************** Wide Chart **************************************************************************/
.chart_wide {
  width: 94%;
  margin-left: 0px;
}
.inner_chart_left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.inner_chart_right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.wide_inputs {
  width: 100%;
}
.wide_show_values_button {
  display: none;
}
/*********************** Navbar ****************************************************************************/
.mobile_navbar {
  display: block;
  position: fixed;
  width: 100%;
  height: 56px;
  opacity: 100;
  z-index: 2;
}
a.navbar_logo {
  display: inline-block;
  margin-left: 12.5px;
  margin-top: 1vh;
}
svg.navbar-logo {
  height: 15px;
  margin-top: 14.25px;
}
/*********************** Responsive Open/Close Button *******************************************************************/
.navigation_button_container {
  float: right;
  margin-right: 5%;
  margin-top: 9px;
  height: 30px;
}
.open_close_button {
  width: 25px;
  height: 30px;
  position: relative;
  margin: auto;
  margin-top: 50%;
  vertical-align: middle;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
.open_close_button span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.open_close_button span:nth-child(1) {
  top: 0px;
}
.open_close_button span:nth-child(2), .open_close_button span:nth-child(3) {
  top: 6px;
}
.open_close_button span:nth-child(4) {
  top: 12px;
}
.open_close_button.open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}
.open_close_button.open span:nth-child(2) {
  transform: rotate(45deg);
}
.open_close_button.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.open_close_button.open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}
/*********************** Dropdown *************************************************************************/
.mobile_dropdown {
  display: block;
  font-family: 'Zen Old Mincho', serif;
  position: fixed;
  height: 0;
  overflow: scroll;
  width: 100%;
  padding-top: 56px;
  z-index: 1;
}
.mobile_dropdown a {
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  width: max-content;
}
.mobile_dropdown a:hover {
  text-decoration: underline;
}
.mobile_dropdown_header {
  margin-left: 3%;
  font-size: 18px;
  margin-bottom: 4px;
  margin-top: 5px;
}
#top_mobile_dropdown_header {
  margin-top: 10px;
}
.mobile_dropdown_horizontal_line {
  height: 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.mobile_dropdown_jump_to {
  margin-left: 3%;
  margin-bottom: 12.5px;
}
.mobile_dropdown_jump_to a {
  margin-bottom: 5px;
  font-size: 16px;
  text-decoration: none;
}
table.mobile_dropdown_table {
  width: 94%;
  margin-left: 3%;
  margin-bottom: 5px;
  table-layout:fixed;
}
table.mobile_dropdown_table td {
  font-size: 16px;
  font-weight: normal;
  width: 50%;
  border: none;
  padding-left: 0;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.6em;
}
.mobile_dropdown_socials_left, .mobile_dropdown_socials_right {
  display: inline-block;
  margin-left: 2.5%;
  width: 44%;
  margin-bottom: 10px;
}
.mobile_dropdown_socials_text {
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  margin-right: 7.5px;
}
a.mobile_dropdown_link {
  display: inline-block;
  margin-bottom: 0px;
  padding-right: 5px;
}
.mobile_dropdown_icon {
  height: 27.5px;
  margin-left: 0px;
  margin-top: 5px;
  transition: fill 1s ease;
}
#mobile_dropdown_twitter_share_icon, #mobile_dropdown_twitter_follow_icon {
  margin-left: 5px;
}
/********* Mobile Page Color Toggle ********/
svg.mobile_page_color_icon {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  height: 22.5px;
  fill: var(--base-text);
}
.page_color_button_group {
  margin-left: 2.5%;
  margin-bottom: 140px;
  margin-top: 10px;
  width: 252px;
  border-color: var(--base-border) !important;
}
.page_color_button_group button {
  font-size: 16px;
  color: var(--base-text) !important;
}
.mobile_page_color_toggler {
  position: absolute;
  height: 100%;
  width: 84px;
  border-radius: 30px;
  opacity: 20%;
  background-color: var(--toggle-color);
  transition: left .2s ease !important;

  left: var(--mobile-toggle-position);
}
/*********Dropdown animations********/
.reveal_dropdown {
  animation: reveal .75s ease, maintain_position_down .75s ease;
  animation-fill-mode: forwards;
}
.collapse_dropdown {
  animation: collapse .75s ease, maintain_position_up .75s ease;
  animation-fill-mode: forwards;
}
@keyframes reveal {
  0% { height: 0 }
  100% { height: 96vh }
}
@keyframes collapse {
  0% { height: 96vh }
  100% { height: 0 }
}
.push_down_page {
  animation: push_down .75s ease;
  animation-fill-mode: forwards;
}
@keyframes push_down {
  from { margin-top: 0 }
  to { margin-top: 100vh }
}
.push_up_page {
  animation: push_up .75s ease;
  animation-fill-mode: forwards;
}
@keyframes push_up {
  from { margin-top: 100vh }
  to { margin-top: 0vh }
}
.maintain_navbar_position_down {
  animation: maintain_position_down .75s ease;
  animation-fill-mode: forwards;
}
@keyframes maintain_position_down {
  from { margin-top: 0 }
  to { margin-top: -100vh }
}
.maintain_navbar_position_up {
  animation: maintain_position_up .75s ease;
  animation-fill-mode: forwards;
}
@keyframes maintain_position_up {
  from { margin-top: -100vh }
  to { margin-top: 0vh }
}
/*********************** Highlights ****************************************************************************/
#mobile_highlights {
  display: inline-block;
  width: 99%;
  margin-left: 0px;
  margin-right: 0px;
}
/* Hide during page initialization */
#mobile_highlights_content {
  visibility: hidden;
}
.highlights_title {
  font-size: 120%;
}
p.explanation {
  font-size: 100%;
}
button {
  font-size: 100%;
}
.mobile_explanation_and_animation_button_container{
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
/*********************** References **************************************************************************/
ul.references_list, ol.notes_list {
  padding-left: 20px;
  margin-left: 15px;
}
/*********************** Page Bottom *************************************************************************/
section.page_bottom {
  padding-bottom: 80px;
}
img.bottom_social_logos {
  margin-left: 7.5px;
}

} /************* End Media Query *********************/

/**************************************************************************************************************************************************
* Tablet Adjustments
***************************************************************************************************************************************************/
/* Set title back to middle of screen*/
@media screen and (min-width: 800px) and (max-width: 900px) {
  
/********************** Show some desktop elements ************************************************************/
.blog_container {
  display: grid;
}
/*********************** Page Positioning *********************************************************************/
.center {
  display: block;
  width: 90%;
  margin-left: 5%;
}
.center_no_side_elements {
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}
/* Navbar */
a.navbar_logo {
  margin-left: 5%;
}
button.open_icon, button.close_icon {
  margin-right: 2%;
}
/*********************** Text *********************************************************************/
p {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 18px;
}
h2, h3, h4 {
  padding-left: 0;
  padding-right: 0;
}
/*********************** Navbar **************************************************************************/
a.navbar_logo {
  font-size: 24px;
}
a.navbar_logo:hover {
  text-decoration: none;
}
svg.navbar-logo {
  height: 17.5px;
  margin-top: 7.5px;
}
/*********************** Dropdown **************************************************************************/
.two_columns {
  width: 90%;
  margin-top: 15px;
}
table.mobile_dropdown_table {
  margin-left: 5%;
  width: 90%;
}
.dropdown_title, .mobile_dropdown_header, .mobile_dropdown_socials_text {
  font-size: 22px;
}
.mobile_dropdown_jump_to a, table.mobile_dropdown_table td {
  font-size: 18px;
}
.mobile_dropdown_jump_to, .mobile_dropdown_header, .mobile_dropdown_socials_left {
  margin-left: 5%;
}
.mobile_dropdown_icon {
  height: 35px;
  margin-top: 10px;
  margin-right: 7.5px;
}
.mobile_dropdown_blog_promote {
  margin-left: 5%;
  margin-top: 10px;
}
.page_color_button_group {
  margin-left: 5%;
  margin-bottom: 80px;
}
svg.mobile_page_color_icon {
  height: 25px;
  margin-right: 5%;
}
/*********************** Title **************************************************************************/
.title_container {
  padding-top: 80px;
  margin-bottom: 30px;
  margin-left: 5%;
  width: 90%;
}
.category {
  display: none;
}
#page_title, .name, .page_description {
  margin-left: 0;
}
#page_title {
  font-size: 40px;
}
svg.page-title {
  display: block;
  height: 45px;
  margin-left: 0px;
  margin-top: 10px;
}
svg.page-title-two-line {
  display: block;
  height: 90px;
  margin-left: 0px;
  margin-top: 10px;
}
.name, .page_description {
  font-size: 22.5px;
}
.top_social_icons {
  height: 15.5px;
}
.page_description {
  width: 65%;
}
.mobile_dropdown_horizontal_line {
  width: 92%;
  margin-left: 4%;
}
/*********************** Blog Promo **************************************************************************/
#blog_promote_mobile_link {
  display: none;
}
#blog_promote_horizontal_link {
  display: block;
}
/*********************** Page Bottom **************************************************************************/
section.page_bottom {
  padding-bottom: 60px;
}

} /***** End Tablet Media Query *******/


