.c3 text {
   fill: white;
}
.c3 line, .c3 path {
   stroke: white;
}
.c3-line, {
  stroke-width: 3px;
}
#ctc_chart {
  width: 50vw;
  position: absolute;
  margin-left: 40vw;
  margin-top: 25vh;
  background-color: black;
}
/* flash excluded section of ctc */
.c3-area {
   opacity: .6;
}