@media screen and (max-width: 700px) {

/*************** Title Section ****************************************************************************/
#page_title {
	font-size: 250%;
	line-height: 1em;
}
.bottom_social_logos {
	height: 12.5px;
}
/*************** Top Bar **********************************************************************************/
.top_bar {
	width: 100%;
}
.mobile_dropdown {
	display: block;
}
#mobile_top_bar {
	display: table;
}
/*************** Hide Desktop Elements *****************************************************************************/
#desktop_top_bar, .desktop_dropdown, .blog_promotoe_horizontal, #blog_promote_horizontal_link, .page_color_toggle_container, .blog_container {
	display: none;
}
/*************** Page Box Styling **************************************************************************/
.box_container {
	width: 95%;
}
.box_level {
	display: block;
}
/*************** Mobile Blog Promotion *********************************************************************/
.blog_promote_mobile, #blog_promote_mobile_link {
  display: block;
}
.blog_promote_mobile {
  width: 100%;
}
#blog_promote_mobile_link {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*************** Infobox adjustments ***********************************************************************/
.infobox_left, .infobox_center, .infobox_right {
	border-radius: 10px;
}
/*************** Mobile page color toggler ******************************************************************/
.mobile_page_color_button_group {
	display: block;
	border-color: var(--page-bottom-color);
	margin-top: 20px;
	font-size: 14px;
	width: 92.5%;
}
.mobile_page_color_button_group button {
	color: var(--page-bottom-color);
}
.page_color_toggler {
	width: 33.3%;
	left: var(--mobile-toggle-position);
}
/*************** Page bottom ******************************************************************************/
section.page_bottom {
	padding-bottom: 80px;
	margin-top: 20px;
}

} /** Bracket for @media screen **/

/*********************************************************************************************
* Some adjustments for tablets
*********************************************************************************************/
/* Set title back to middle of screen*/
@media screen and (min-width: 700px) and (max-width: 900px) {
/********* Hide Desktop Elements *******/
.page_color_toggle_container, #desktop_programs_container {
	display: none;
}
#tablet_programs_container {
	display: block;
}
/*************** Mobile page color toggler ******************************************************************/
.mobile_page_color_button_group {
	display: block;
	border-color: var(--page-bottom-color);
	margin-top: 30px;
	font-size: 14px;
	width: 90%;
}
.mobile_page_color_button_group button {
	color: var(--page-bottom-color);
}
.page_color_toggler {
	width: 33.3%;
	left: var(--mobile-toggle-position);
}
/********* Page Bottom ************/
section.page_bottom {
	padding-bottom: 60px;
	margin-top: 40px;
}

}