@media screen and (max-width: 700px) {

/***************Title Section****************************************************************************/
#page_title {
	font-size: 250%;
	line-height: 1em;
}
/***************Top Bar**********************************************************************************/
.top_bar {
	width: 100%;
}
/***************Hide Elements*****************************************************************************/
.blog_promotoe_horizontal, #blog_promote_horizontal_link {
	display: none;
}
/***************Page Box Styling**************************************************************************/
.box_container {
	width: 95%;
}
.box_level {
	display: block;
}

/***************Mobile Blog Promotion*********************************************************************/
.blog_promote_mobile, #blog_promote_mobile_link {
  display: block;
}
.blog_promote_mobile {
  width: 100%;
}
#blog_promote_mobile_link {
	margin-top: 10px;
	margin-bottom: 10px;
}

}