@media screen and (max-width: 700px) {

/***************Title Section****************************************************************************/
#page_title {
	font-size: 250%;
	line-height: 1em;
}
.bottom_social_logos {
	height: 12.5px;
}
/***************Top Bar**********************************************************************************/
.top_bar {
	width: 100%;
}
.mobile_dropdown {
	display: block;
}
#mobile_top_bar {
	display: table;
}
/***************Hide Elements*****************************************************************************/
#desktop_top_bar, .desktop_dropdown, .blog_promotoe_horizontal, #blog_promote_horizontal_link {
	display: none;
}
/***************Page Box Styling**************************************************************************/
.box_container {
	width: 95%;
}
.box_level {
	display: block;
}

/***************Mobile Blog Promotion*********************************************************************/
.blog_promote_mobile, #blog_promote_mobile_link {
  display: block;
}
.blog_promote_mobile {
  width: 100%;
}
#blog_promote_mobile_link {
	margin-top: 10px;
	margin-bottom: 10px;
}

/***************Infobox adjustments***********************************************************************/
.infobox_left, .infobox_right {
	border-radius: 10px;
}
/***************Page bottom******************************************************************************/
section.page_bottom {
	padding-bottom: 80px;
}
img.bottom_social_logos {
	margin-left: 7.5px;
}

}

/*********************************************************************************************
* Some adjustments for tablets
*********************************************************************************************/
/* Set title back to middle of screen*/
@media screen and (min-width: 800px) and (max-width: 900px) {
/*********Page Bottom************/
section.page_bottom {
	padding-bottom: 60px;
}
img.bottom_social_logos {
	height: 20px;
}

}