@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@300;400;700&family=Zen+Antique+Soft&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  margin-top: 0px;
  padding-top: 0px;
}
h1 {
  font-family: 'Zen Antique Soft', serif;
  font-size: 250%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 25px;
}
h2 {
  font-family: 'Zen Antique Soft', serif;
  line-height: 1em;
  margin-top: 0px;
  text-align: center;
}
p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}
input {
  color: #5a585;
}
a {
  text-decoration: none;
  color: black;
}
.name {
  font-family: 'Zen Antique Soft', serif;
  text-align: center;
  line-height: 2em;
  font-size: 120%;
  margin-bottom: 10px;
}
/********************************************************************************************************/
/* Media query for mobile 800px: */
/********************************************************************************************************/
@media screen and (max-width: 800px) {
  body {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    font-size: 75%;
  }
  .navbar-desktop {
    display: none;
  }
  .left_side{
    width: 0px;
  }
  .right_side{
    width: 0px;
  }
}
/********************************************************************************************************/
/* Page boxes */
/********************************************************************************************************/
.box_container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* Top box ******************************************************/
.tox_box {
  border: solid;
  border-width: 1.5px;
  border-radius: 5px;
  height: 100%;
  margin-bottom: 20px;
  border-color: #adadad;
}
.box_title_topbox {
  display: inline-block;
  vertical-align: top;
  font-family: 'Zen Antique Soft', serif;
  width: 25%;
  height: 100%;
  padding: 15px;
  font-size: 400%;
  line-height: 120%;
}
.image_container_top {
  display: inline-block;
  margin: auto;
  margin-top: 20px;
  width: 70%;
}
.image_container_top img {
  width: 100%;
  object-fit: contain;
}
/* Remaining boxes ******************************************************/
.box_level {
  width: 100%;
  margin-bottom: 8px;
}
.infobox_left{
  display: inline-block;
  width: 49%;
  height: 200px;
  border: solid;
  border-width: 1.5px;
  border-radius: 5px;
  border-color: #adadad;

  -webkit-transition: color .2s;
  -moz-transition:    color .2s;
}
.infobox_right{
  display: inline-block;
  float: right;
  width: 49%;
  height: 200px;
  border: solid;
  border-width: 1.5px;
  border-radius: 5px;
  border-color: #adadad;

  -webkit-transition: color .2s;
  -moz-transition:    color .2s;
}
.box_words {
  float: left;
  display: inline-block;
  width: 40%;
}
.box_title{
  font-family: 'Zen Antique Soft', serif;
  font-weight: bold;
  font-size: 120%;
  line-height: 150%;
  width: 200%;
  display: block;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.infobox_left:hover, .infobox_right:hover {
  color: #575757;
}
.box_description {
  font-family: 'Libre Baskerville', serif;
  width: 90%;
  font-size: 95%;
  padding-left: 15px;
  line-height: 170%;
}
.image_container {
  display: inline-block;
  margin-top: 50px;
  float: left;
  width: 57%;
}
.image_container img {
  width: 100%;
  object-fit: contain;
}
.image_container_map {
  display: inline-block;
  margin-top: 30px;
  float: left;
  width: 57%;
}
.image_container_map img {
  width: 100%;
  object-fit: contain;
}

