@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap');
body {
  font-family: 'Latin Modern Sans';
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  margin-top: 0px;
  padding-top: 0px;
}
h1 {
  font-family: 'Zen Antique Soft', serif;
  font-weight: 800;
}
h2 {
  font-family: 'Zen Antique Soft', serif;
  font-weight: 400;
  line-height: 1em;
  margin-top: 0px;
  text-align: center;
}
p {
  font-family: 'Latin Modern Sans';
  line-height: 1.5em;
}
a {
  text-decoration: none;
  display: block;
}
button {
  font-family: "Computer Modern Sans";
  font-size: 90%;
  width: 100%;
  cursor: pointer;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-top: solid;
  border-width: 1.5px;
}
.next_section {
  margin-top: 15px;
}
img.blog_promote_horizontal {
  margin-top: 10px;
  width: 100%;
}
#Characteristics {
  margin-top: 5px;
}

/*************** Hide Mobile Elements **********************************************************************/
#mobile_top_bar, .blog_promote_mobile, #blog_promote_mobile_link, .mobile_dropdown, .mobile_page_color_button_group, #tablet_programs_container {
  display: none;
}
/*************** Page Color Toggler ************************************************************************/
.page_color_toggle_container {
  position: absolute;
  top: 37px;
  left: 78.5%;
  width: 21.5%;
}
.page_color_button_group, .mobile_page_color_button_group {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  border: solid;
  border-radius: 30px;
  border-width: 1.5px;
  width: 150px;
}
.page_color_button_group button, .mobile_page_color_button_group button {
  border: none;
  width: 33.33%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
}
.page_color_button_group:after, .mobile_page_color_button_group:after {
  content: "";
  clear: both;
  display: table;
}
.page_color_toggler {
  position: absolute;
  height: 100%;
  width: 50px;
  border-radius: 30px;
  opacity: 20%;
  transition: left .2s ease !important;
}

/*************** Title Section ****************************************************************************/
section.top {
  margin-top: 0px;
  margin-bottom: 20px;
}
#page_title {
  font-size: 300%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-top: 0px;
}
.name {
  font-family: 'Zen Antique Soft', serif;
  line-height: 2em;
  font-size: 120%;
  text-align: center;
  margin-bottom: 10px;
}
a.social_links {
  display: inline-block;
}
a.bottom_social_links {
  display: inline-block;
  margin-right: 5px;
}
.top_social_icons {
  height: 12.5px;
  transition: all .15s ease;
  margin-right: 2px;
}
.top_social_icons:hover {
  transform: scale(1.1);
}
/*************** Top Bar **********************************************************************************/
.horizontal_line, .horizontal_line_top {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-width: .5px;
  margin-bottom: 2px;
}
.top_bar {
  font-family: 'Zen Antique Soft', serif;
  font-size: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
th {
  width: 25%;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5em;
}
tr {

}
th.top_bar_item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.top_bar_dropdown {
  font-family: 'Zen Antique Soft', serif;
  font-weight: 400;
  display: inline-block;
  margin-right: 16%;
}
/**Social Links**/
.social_links_container {
  float: right;
  margin-top: 2.5px;
}
a.social_link {
  display: inline-block;
  margin-left: 10px;
}
/*** Dropdown items ********/
.table_container {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
  display: none;
}
table.dropdown_menu {
  font-family: 'Zen Antique Soft', serif;
  font-size: 12px;
  width: 90%;
  margin-left: 5%;
  border-spacing: 15px;
}
th.dropdown_menu_column_top:hover, th.dropdown_menu_column_bottom:hover, th.dropdown_menu_column_middle:hover {
  cursor: pointer;
  text-decoration: underline;
} 
th.dropdown_menu_column_top {
  margin-top: 10px;
  margin-bottom: 10px;
}
th.dropdown_menu_column_bottom {
  margin-bottom: 10px;
}

/********************************************************************************************************/
/* Page boxes */
/********************************************************************************************************/
.box_container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* Top box ******************************************************/
.tox_box {
  border: solid;
  border-width: 1.5px;
  border-radius: 5px;
  height: 100%;
  margin-bottom: 20px;
}
.box_title_topbox {
  display: inline-block;
  vertical-align: top;
  font-family: 'Zen Antique Soft', serif;
  width: 25%;
  height: 100%;
  padding: 15px;
  font-size: 400%;
  line-height: 120%;
}
.image_container_top {
  display: inline-block;
  margin: auto;
  margin-top: 20px;
  width: 70%;
}
.image_container_top img {
  width: 100%;
  object-fit: contain;
}
/* Remaining boxes ******************************************************/
.box_level {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}
.infobox_left, .infobox_center, .infobox_right {
  margin: 5px;
  flex-basis: 50%;
  border-width: 1.5px;
  border-radius: 5px;
  transition:    color .2s;
}
.image_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 5px;
  overflow: hidden;
}
.image_container img {
  width: 100%;
  object-fit: contain;
}
#admin_image_container {
  margin-top: 5px;
}
.box_words {
  text-align: center;
  margin-bottom: 20px;
}
.box_title{
  font-family: 'Zen Antique Soft', serif;
  font-weight: bold;
  font-size: 140%;
  line-height: 150%;
  display: block;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 10px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.box_description {
  font-family: "Computer Modern Classical Serif Italic";
  font-size: 110%;
  width: 90%;
  padding-left: 15px;
  line-height: 170%;
}
/************************************* Blog Promotion *************************/
.blog_promotion_square {
  font-family: "Computer Modern Classical Serif Italic";
  border: none;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  transition: all .25s ease;
  animation: gradient 10s ease infinite;
}
@keyframes gradient { 
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
}
.blog_square_center {
  text-align: center;
}
svg.blog_square_logo {
  height: 65px;
  margin-top: 10px;
}
.blog_square_logo_circle, .blog_square_logo_J {
  stroke: white;
}
.blog_square_logo_text {
  font-size: 18px;
}
svg.blog_square_logo, .blog_square_logo_text {
  transition: all .25s ease;
}
#blog_logo_link:hover .blog_square_logo, #blog_logo_link:hover .blog_square_logo_text {
  transform: scale(1.05);
}
.blog_square_horizontal_line {
  height: 0;
  border-bottom: solid;
  border-width: 2px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}

.article_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 66%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.left-grid-item {
  border-right: solid;
  border-width: 1px;
}
.bottom-grid-item {
  border-top: solid;
  border-width: 1px;
}
.grid-item-text {
  font-size: 18px;
  text-align: center;
  margin: 5px;
  margin-top: 18px;
  transition: all .25s ease;
}
.grid-item:hover .grid-item-text {
  transform: scale(1.01);
  cursor: pointer;
}
.grid-item:hover {
  background-color: rgba(239, 239, 240, 0.15);
}
/************************************* Chart formatting *************************/
.chart_container {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 10px;
}
/******* Page Bottom *******************************************************************************/
section.page_bottom {
  position: relative;
  font-size: 80%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 75px;
  padding-bottom: 40px;
  line-height: 1.5em;
}
#bottom_logo, #bottom_name {
  font-family: 'Zen Antique Soft', serif;
}
#bottom_logo {
  font-size: 120%;
}
#bottom_socials {
  position: absolute;
  right: 0;
  top: 5px;
}
svg.bottom_social_logos {
  height: 17.5px;
}
#twitter_top_button_blue_icon, #substack_top_button_orange_icon, #twitter_bottom_button_blue_icon, #substack_bottom_button_orange_icon {
  display: none;
}
a.bottom_social_links {
  display: inline-block;
  margin-right: 5px;
}
#cc_container {
  position: relative;
  margin-top: 5px;
}
#cc_logos {
  position: absolute;
  margin-top: 10px;
  text-decoration: none;
}
a.cc_link {
  display: inline-block;
}
#cc_description {
  position: absolute;
  margin-top: 4px;
  line-height: 1.2em;
  margin-left: 50px;
}
#cc_text_link {
  display: inline-block;
}

/***********************Blog promotion ********************************************************************/
.blog_container {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  height: 185px;
  border: none;
  border-radius: 10px;
  display: grid;
  grid-template-columns: .75fr .1fr 1fr .1fr 1fr .1fr 1fr .1fr 1fr;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  transition: all .25s ease;
  animation: gradient 10s ease infinite;
}
.blog_container:hover {
  transform: scale(1.01);
}
a.blog_promotion_link_container {
  color: white !important;
  text-decoration: none;
}
.blog_grid_item {
  font-family: "Computer Modern Classical Serif Italic";
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5em;
  margin: 10px;

  display: flex;
}
.blog_grid_item_left {
  margin-right: 10px;
  margin-left: 20px;
}
.blog_grid_item_right {
  margin-right: 20px;
}
.blog_text{
  margin: auto;
}
.blog_svg {
  margin: auto;
  object-fit: cover;
  width: 100%;
  stroke: white;
}
.blog_svg:hover  {
  stroke: white;
}
.blog_logo_J {
  fill: white;
  fill-opacity: 0;
  /* transition: fill-opacity .1s ease; */
}
.vertical_line {
  border-right: solid;
  border-width: 2.5px;
  border-radius: 2px;
  border-color: white;
  height: 85%;
  margin: auto;
}

@keyframes gradient { 
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
}

