/******************* Hide Points ******************************/
/* EITC & Tax chart */
.c3-circles-person1, .c3-circles-person2, .c3-circles-married, .c3-circles-person2_dashed, .c3-circles-values {
  display: none;
}
.c3-circles-y_green1, .c3-circles-y_green2, .c3-circles-y_green3, .c3-circles-y_green4, .c3-circles-y_red1, .c3-circles-y_red2, .c3-circles-y_red3, .c3-circles-y_red4 {
  display: none;
}

/* EITC Chart */
.c3-circles-married_eitc, .c3-circles-combined_eitc, .c3-circles-penalty_eitc, .c3-circles-bonus_eitc {
  display: none;
}

/* Tax Chart */
.c3-circles-married_tax, .c3-circles-combined_tax, .c3-circles-tax_penalty, .c3-circles-tax_bonus {
  display: none;
}

/* EITC Explainer */
.c3-circles-married_plateau, .c3-circles-married_phasein, .c3-circles-married_phaseout  {
  display: none;
}

/* EITC Explainer Y Grids */
.c3-ygrid-line.eitc_explainer_ygrid1 line {
  stroke-opacity: 1;
}

/* Comparison */
.c3-circles-married_value, .c3-circles-combined {
  display: none;
}

/* 2023 EITC */
.c3-circles-zero_single, .c3-circles-zero_married, .c3-circles-one_single, .c3-circles-one_married, .c3-circles-two_single, .c3-circles-two_married, .c3-circles-three_single, .c3-circles-three_married, .c3-circles-four_married, .c3-circles-five_married, .c3-circles-six_married {
  display: none;
}

/* FSA EITC */
.c3-circles-childless_single, .c3-circles-childless_married, .c3-circles-child_single, .c3-circles-child_married {
  display: none;
}

/* Standard Credit */
.c3-circles-tax {
  display: none;
}

/******************* Opacity ******************************/
/* Top chart */
.c3-area-married_eitc, .c3-area-combined_eitc, .c3-area-married_tax, .c3-area-combined_tax {
  opacity: 0 !important;
}
.c3-area-combined, .c3-area-married_value {
  opacity: 0 !important;
}

/* HOH Tax */
.c3-area-combined_tax {
  opacity: 0 !important;
}
