/* hide points for all lines except point */

/* Top chart */
.c3-circles-person1, .c3-circles-person2, .c3-circles-married, .c3-circles-married_eitc, .c3-circles-penalty, .c3-circles-combined_eitc, .c3-circles-bonus, .c3-circles-person2_dashed, .c3-circles-hoh_penalty, .c3-circles-hoh_married, .c3-circles-hoh_comined, .c3-circles-hoh_bonus, .c3-circles-both_married, .c3-circles-both_penalty, .c3-circles-filler {
  display: none;
}

/* HOH Single Filer */
.c3-circles-married_tax {
  display: none;
}

/* EITC Explainer Points */
.c3-circles-married_plateau, .c3-circles-married_phasein, .c3-circles-married_phaseout  {
  display: none;
}

/* EITC Explainer Y Grids */
.c3-ygrid-line.eitc_explainer_ygrid1 line {
  stroke-opacity: 1;
}

/* Comparison chart */
.c3-circles-married_value, .c3-circles-combined {
  display: none;
}

/* 2023 EITC */
.c3-circles-zero_single, .c3-circles-zero_married, .c3-circles-one_single, .c3-circles-one_married, .c3-circles-two_single, .c3-circles-two_married, .c3-circles-three_single, .c3-circles-three_married, .c3-circles-four_married, .c3-circles-five_married, .c3-circles-six_married {
  display: none;
}

/* FSA EITC */
.c3-circles-childless_single, .c3-circles-childless_married, .c3-circles-child_single, .c3-circles-child_married {
  display: none;
}

/* Standard Credit */
.c3-circles-tax {
  display: none;
}

/******************* Opacity ******************************/
/* Setting opacity of hidden area to 0 for all modes deals with both sepia and dark modes */
.c3-area-married_eitc, .c3-area-combined_eitc, .c3-area-hoh_maried, .c3-area-hoh_combined, .c3-area-both_white, .c3-area-both_white_positive, .c3-area-both_white_negative {
  opacity: 0 !important;
}
.c3-area-married_tax {
  opacity: 0 !important;
}
.c3-area-combined, .c3-area-married_value {
  opacity: 0 !important;
}