.box_title {
	text-align: center;
	text-decoration: underline;
	margin-top: 0px;
	font-size: 120%;
}

.hidden {
	display: none;
}
/************************* Explainer chart *******************************/
#eitc_explainer_chart_container {
	position: relative; /* needed to position buttons */
}
.explainer_text_container {
	height: 65%;
	/* overflow: scroll; */
}
.explainer_chart_text_title {
	text-align: center;
	line-height: 1.5em;
	margin-top: 5px;
	margin-bottom: 10px;
}
.explainer_chart_step {
	line-height: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 92.5%;
}
/*** Text box for EITC explainer ***/
#eitc_explainer_center_box {
	position: relative;
	height: 180px;
}
/****** Explainer text inner elements ****/
.step_number {
	display: inline-block;
	width: 10%;
	vertical-align: top;
}
.step_text {
	display: inline-block;
}
.line_container {
	/* display: inline-block; */
	float: left;
	padding: 0px;
}
.step_text_line0, .step_text_line, .step_text_line2, .step_text_line3, .step_text_line4 {
	width: 0;
	white-space: nowrap;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
/****** Explainer text animation ****/
.type_text {
	animation: 
		typing 2s steps(40, end),
    	blink-caret .6s step-end infinite;
	animation-fill-mode: forwards;
	animation-delay: .1s;
}
.type_text_medium {
	animation: 
		typing 1.5s steps(35, end),
    	blink-caret .6s step-end infinite;
	animation-fill-mode: forwards;
	animation-delay: .1s;
}
.type_text_fast {
	animation: 
		typing 1s steps(30, end),
    blink-caret .6s step-end infinite;
	animation-fill-mode: forwards;
	animation-delay: .1s;
}
/* Typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* Typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #adadad; }
}

/****** Animation Buttons ****/
.forward_back_buttons{
	position: absolute;
	right: 5px;
	bottom: 2px;
}
.explainer_button{
	width: 70px;
	height: 25px;
	margin-bottom: 5px;
	text-align: middle;
	padding: 0;
}

/************************* Spongebob Meme *******************************/
#spongebob_meme {
	display: none;
}

/************************* Mobile Adjustments *******************************/
@media screen and (max-width: 700px) {
	.step_number {
		width: 15%;
	}
	.step_text {
		width: 83%;
	}
	.forward_back_buttons {
		margin-top: 257.5px;
	}

	#top_chart_breakdown_button, #hoh_tax_breakdown_button, #single_tax_breakdown_button, #eitc_marriage_penalty_breakdown_button {
    display: block;
    margin-left: 0;
    margin-top: 5px;
  }
}


