/*********** Policy Adder **********************************************************************************/
.policy_adder_container {
	/*
	border: solid;
	border-color: var(--base-border);
	border-radius: 5px;
	padding: 5px;
	*/
	border: none;
	padding: 0px;
	font-size: 14px;
	line-height: 1.9em;
}
input {
	font-size: 12px;
}
h2.policy_adder_title {
	text-decoration: none;
	font-size: 30px;
}
.policy {
	display: grid;
	grid-template-columns: 160px auto;
	border: solid;
	border-width: 1.5px;
	border-color: var(--base-border);
	border-radius: 5px;
	padding: 0px;
	margin-bottom: 5px;
}
.dashed-border {
	border: dashed !important;
	border-width: 1.5px !important;
	border-color: var(--base-border) !important;
}
.display_none {
	display: none;
}

/*********** Policy Adder: Left Side**************************************/
.policy_left_side {
	padding: 5px;
	padding-top: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	background-color: var(--soft-background);
	border-right: solid;
	border-width: 1.5px;
	border-color: var(--base-border);
}
.button_label_container {
	display: inline-grid;
	grid-template-columns: 20px auto;
	align-items: center;
	gap: 5px;
	margin-left: 2.5px;
	height: 100%;
	margin-bottom: 5px;
}
/*** policy add/subtract buttons ***/
button.policy_button {
	position: relative;
	padding: 0px;

	font-size: 16px;
	font-style: bold;
	text-align: center;

	border: solid;
	border-width: 2px;
	border-radius: 100%;

	width: 17.5px;
	height: 17.5px;

	background-color: var(--soft-background);
}
button.policy_button:hover {
	transform: scale(1.1);
	transition: 0.1s;
}
button.plus_button:hover {
	background-color: #10c20a;
	transition: 0.1s;
}
button.minus_button:hover {
	background-color: red;
	transition: 0.1s;
}
/* Plus/Minus Symbols */
button.plus_button {
	border-color: #10c20a;
	color: #10c20a;
}
button.plus_button::after, button.plus_button::before {
	background: #10c20a;
}
button.minus_button {
	border-color: red;
	color: red;
}
button.minus_button::after {
	background: red;
}
button.plus_button::after, button.minus_button::after, button.plus_button::before {
	position: absolute;
	content: '';
}
button.plus_button:hover::after, button.plus_button:hover::before, button.minus_button:hover::after {
	background: white;
	transition: 0.1s;
}
button.plus_button::after, button.minus_button::after {
	height: 1.5px;
  width: 49%;
  top: 45%;
  left: 25%;
}
button.plus_button::before {
	height: 50%;
  width: 1.5px;
  top: 26%;
  left: 44%;
}
/***** Policy Adder: Dropdown Menu ********/
#policy_adder_button {
	top: -3.5px;
}
#add_policy_header {
	margin-top: 8px;
}
.policy_adder_dropdown_content {
  visibility: hidden;
  position: absolute;
  margin-top: 35px;
  margin-left: -27px;
  min-width: 160px;
  z-index: 1;

  background-color: var(--soft-background);
  border: solid;
  border-radius: 5px;
  border-color: var(--base-border);
}
.policy_adder_dropdown_content::before {
  content: "";
  position: absolute;
  top: -13px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent var(--base-border) transparent;

  left: 11px;
}
button.policy_select_button {
	display: block;
	text-align: left;
	width: 100%;

	border: none;
	border-radius: 3px;
	border-bottom: solid;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-color: var(--base-border);
	background-color: var(--soft-background);
}
button.bottom_button {
	border: none;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
button.policy_select_button:hover {
	background-color: var(--soft-background-hover);
}
#add_policy_button_container:hover #policy_adder_button {
	background-color: #10c20a;
	transform: scale(1.1);
}
#add_policy_button_container:hover button.plus_button::after, #add_policy_button_container:hover button.plus_button::before {
	background: white;
	transition: 0.1s;
}
/***Policy Label ***/
h3.policy_label_header {
	font-family: 'Computer Modern Serif';
	font-size: 16px;
	padding: 0;
	margin: 0;
	margin-top: 4px;
	line-height: 1.2em;
}
textarea.byop_policy_label {
	font-family: 'Computer Modern Serif';
	font-weight: bold;
	font-size: 16px;
	width: 90%;
	background-color: var(--soft-background);
	border: none;
	height: 18px;

	resize: none;
	overflow: hidden;

	color: var(--base-text);
}
.italic {
	font-style: italic;
}
/*********** Policy Adder: Right Side**************************************/
.policy_right_side {
	padding: 5px;
}
.policy_points_right_side {
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	padding: 10px;
}
h4.policy_item_header {
	font-family: 'Computer Modern Serif';
	font-size: 16px;
	text-decoration: underline;
	padding: 0;
	margin: 0;
}
/******* Policy Adder: Points ********/
.point_container {
	display: inline-grid;
	grid-template-columns: 15px auto;
	align-items: center;
	gap: 7.5px;
	height: 100%;
}
.point_inputs_container {
	border: solid;
	border-color: var(--base-border);
	border-width: 1px !important;
	border-radius: 5px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 5px;
	padding-right: 5px;
}
.hidden {
	visibility: hidden;
}
.endpoints {
	position: relative;
	padding: 0px;
	margin-left: 3px;

	border: solid;
	border-width: 2px;
	border-radius: 100%;

	width: 5px;
	height: 5px;

	border-color: var(--base-text);
	background-color: var(--base-text);
}
/********** Policy Adder: EITC *********/
.eitc_right_side {
	display: inline-grid;
	grid-template-columns: 15px auto;
	align-items: center;
	grid-gap: 7.5px;
	row-gap: 12.5px;
	padding: 10px;
	padding-right: 5px;
}
.eitc_child_container {
	display: grid;
	grid-template-columns: 70px auto;
	align-items: center;
	gap: 7.5px;
	height: 100%;

	border: solid;
	border-color: var(--base-border);
	border-width: 1px !important;
	border-radius: 5px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 5px;
	padding-right: 5px;
}
.child_label {
	font-weight: bold;
}
.eitc_inputs_container {
	display: grid;
	grid-template-columns: 110px auto;
	align-items: center;

	border: solid;
	border-color: var(--base-border);
	border-width: 1px !important;
	border-radius: 5px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 5px;
	padding-right: 5px;
}
/********* Random adjustments ******/
.ubi_container {
	padding-top: 10px;
}

/********** Chart *************/
.chart_container {
	border: none;
	padding: 10px;
  margin-top: 0px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
.inner_chart_left {
  display: inline-block;
  width: 48.5%;
  margin-right: 20px;
}
.inner_chart_right {
  display: inline-block;
  width: 48.5%;
}
h3.chart_name {
	font-family: 'Computer Modern Serif';
	font-size: 20px;
  text-align: center;
  text-decoration: underline;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1em;
}
/********** Chart Options *************/
label.label_margin_left {
	margin-left: 10px;
}
/********** Chart Logo *************/
.chart_title_logo_container {
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 2.5px;
}
.chart_byline {
  font-family: "Computer Modern Serif";
  font-size: 12px;
  color: var(--base-text);
  margin-top: 5px;
  line-height: 1.3em;
}
h3.chart_title {
  vertical-align: top;
  margin-top: 0;
  font-size: 24px;
}
svg.chart-logo {
  width: 100px;
  margin-top: 0;
}

