/****************************************** Benefits selection ********************************************/
.many_select_container {
  font-size: 90%;
  line-height: 25px;
  margin-bottom: 5px;
}
.benefits_selection_buttons {
  font-family: "Computer Modern Sans";
  text-decoration: none;
  cursor: pointer;
  border: solid;
  border-radius: 3px;
  border-width: 1.5px;
  border-color: var(--base-border);
  background-color: var(--small-button-background);
  transition: background-color .2s ease, border .2s ease;
}
.selected_benefits_button {
  background-color: var(--small-button-hover);
}
.benefits_selection_buttons:hover {
  background-color: var(--small-button-hover);
}
.benefits_selection_buttons:disabled {
  background-color: var(--small-button-disabled-background);
  color: var(--small-button-disabled-border-text);
  border-color: var(--small-button-disabled-border-text);
}
/* No cursor change on hover when disabled */
.benefits_selection_buttons:disabled:hover {
  cursor: default;
}
/***************************************** Adjustements to center explanation box *****************************************/
.center_explanation_box {
	padding-bottom: 0px;
}
.center_explanation_box_text_container {
	margin-bottom: 10px;
	margin-top: 10px;
}
.tax_and_benefit_breakdown {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 90%;
}
#marginal_tax_rate {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.show_all_button{
	display: none;
	width: 15%;
	height: 100%;
	border: none;
	text-align: left;
	margin-left: 10px;
	padding: 0px;
  color: var(--low-emphasis-color);
  background-color: var(--center-explanation-box);
}
.show_all_button:hover {
	background-color: var(--center-explanation-box);
}
#benefit_loss_text {
	display: inline-block;
}
#benefits_breakdown {
	display: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.benefits_breakdown_item {
	padding: 0;
}
#rounding_disclaimer {
	font-size: 60%;
	margin-top: 0px;
	padding-bottom: 0px;
	display: none;
}
.explanation_text {
	margin-bottom: 0px;
	margin-top: 0px;
}
/******************************* Table adjustments ***************/
table.FPL {
  float: right;
  margin-top: 8px;
}