/************ Benefits selection ************************************************************/
.many_select_container {
  font-size: 90%;
  line-height: 27.5px;
  margin-bottom: 5px;
}
/************ Adjustements to center explanation box *****************************************/
.center_explanation_box_text_container {
	margin-bottom: 10px;
	margin-top: 10px;
}
.explanation_text {
	margin-bottom: 0px;
	margin-top: 0px;
}
#benefits_breakdown_button {
	display: none;
}
#marginal_tax_rate {
  margin-bottom: 10px;
  padding-bottom: 0px;
}
#benefits_breakdown {
	display: none;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
#rounding_disclaimer {
	font-size: 60%;
	margin-top: 0px;
	padding-bottom: 0px;
	display: none;
}
/************* Table adjustments ************************************************************/
table.FPL {
  float: right;
  margin-top: 8px;
}

