@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Open+Sans:wght@300;400;700&family=Zen+Antique+Soft&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
  line-height: 2em;
  margin-top: 0px;
  padding-top: 0px;
}
h1 {
	font-family: 'Zen Antique Soft', serif;
	text-align: center;
  margin-bottom: 7px;
  margin-top: 0px;
  padding-top: 20px;
}
h2 {
	font-family: 'Zen Antique Soft', serif;
	line-height: 1em;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 85%;
	line-height: 1.5em;
}
input {
	color: #5a585;
}
.name {
	font-family: 'Zen Antique Soft', serif;
	text-align: center;
	line-height: 2em;
	font-size: 110%;
  margin-bottom: 10px;
}
/********************************************************/
/* Media query for mobile 800px: */
/********************************************************/
@media screen and (max-width: 800px) {
  body {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    font-size: 75%;
  }
  .navbar-desktop {
    display: none;
  }
  .left_side{
    width: 0px;
  }
  .right_side{
    width: 0px;
  }
}
/********************************************************/
/**Droppdown Button */
/********************************************************/
/*******Animate expansion***************/
@keyframes navigation_bar {
  from: {};
  to: {};
}

.navbar-desktop {
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  left: 0px;
  position: fixed; /* Make it stick/fixed */
  margin-top: 0px;
}
.dropbtn {
  font-family: 'Zen Antique Soft', serif;
  background-color: white;
  margin-left: 30px;
  padding: 0px;
  margin-top: 13px;
  font-size: 200%;
  border: none;
}

/* Containter needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /* display: none; */
  margin-top: 0px;
  padding-top: 0px;
  background-color: #F2F2F2;
  position: absolute;
  width: 25%;
  height: 100%;
  margin-top: 0px;
  /* background-color: #f1f1f1; */
  min-width: 180px;
  z-index: 1;
  border: solid;
  border: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {display: block;} */

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white; color: #454545; cursor: pointer;}

/********************************************************/
/* Container for chart, eitc values & highlights */
/********************************************************/
.chart_highlights_container {
  padding: 0;
  margin: 0;
}
.chart_highlights_container:after {
  content: "";
  display: table;
  clear: both;
}
/*****************Subcontainter: left & right side formatting*****************/
.left_side{
  float: left;
  width: 15%;
  height: 500px;
}
.right_side{
  float: left;
  width: 22%;
}
/*****************Subcontainter: Chart*******************************/
.chart {
  border-style: solid;
  padding: 10px;
  width: 60%;
  /* display: inline-block; */
  float: left;
  border-radius: 5px;
}
/*******Subcontainter in Chart: eitc values*********/
.explanation_values {
  border: none;
  overflow: scroll;
}
/*****************Subcontainter: Highlight buttons*****************/
.highlights {
  border-style: solid;
  margin-left: 15px;
  width: 92%;
  display: inline-block;
  float: left;
  text-align: center;
  border-radius: 5px;
}
.highlights_title {
  border-bottom: solid;
  font-weight: bold;
  /* background-color: #e4eaed; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
button{
  background-color: white;
  border: none;
  border-top: solid;
  cursor: pointer;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
button.top_button{
  border-top: none;
}
button.bottom_button{
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
input[type=submit].animation_button{
  width: 50%;
  border: solid;
  border-color: black;
  /* background-color: #00acee; */
  color: black;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 10px;
}
button:hover {background-color: #f0efed;}

input[type=submit].animation_button:hover {background-color: #d1d1d1}

p.explanation {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/********************************************************/
/* Slider; NOTE Slider may cause page to shift left & right on mobile */
/********************************************************/
/*Slider */
.slidecontainer {
  width: 100%;
}

/*Display income */
.income-display {
	display: inline-block;
	width: 40%;
}

.slider-actual {
	display: inline-block;
	width: 45%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #1DA1F2;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #1DA1F2;
  cursor: pointer;
  border-radius: 50%;
}